<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- in case the mime type already exist in IIS -->
      <clientCache cacheControlCustom="public, max-age=8640000, immutable" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <!-- Below block is for custom redirect for 404 error to 404.html -->
    <httpErrors existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" />
      <remove statusCode="400" />
      <error statusCode="400" path="404.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="410 for steps-to-rebuilding" stopProcessing="true">
          <match url="^(.*?)/steps-to-rebuilding/?$" />
          <action
            type="CustomResponse"
            statusCode="410"
            statusReason="Gone"
            statusDescription="This resource is no longer available." />
        </rule>
        <rule name="410 for start-your-recovery" stopProcessing="true">
          <match url="^(.*?)/start-your-recovery/?$" />
          <action
            type="CustomResponse"
            statusCode="410"
            statusReason="Gone"
            statusDescription="This resource is no longer available." />
        </rule>
        <rule name="410 for french pages" stopProcessing="true">
          <match url="^.+/fr/.+$" />
          <action
            type="CustomResponse"
            statusCode="410"
            statusReason="Gone"
            statusDescription="This resource is no longer available." />
        </rule>
        <rule name="Redirect -shared URLs" stopProcessing="true">
          <match url="(.*)-shared/$" />
          <action type="Redirect" url="{ToLower:{R:1}}/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect index.html to root" stopProcessing="true">
          <match url="(.*)/index.html$" />
          <action type="Redirect" url="{ToLower:{R:1}}/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect stay-healthy" stopProcessing="true">
          <match url="^(.*?)/stay-healthy/?$" />
          <action
            type="Redirect"
            url="/{R:1}/help-for-you/health-and-safety/"
            redirectType="Permanent"
            appendQueryString="false" />
        </rule>
        <rule name="Redirect help-your-business" stopProcessing="true">
          <match url="^(.*?)/help-your-business/?$" />
          <action
            type="Redirect"
            url="/{R:1}/help-for-your-business/"
            redirectType="Permanent"
            appendQueryString="false" />
        </rule>
        <rule name="Redirect vital-records" stopProcessing="true">
          <match url="^(.*?)/vital-records/?$" />
          <action
            type="Redirect"
            url="/{R:1}/help-for-you/replace-personal-documents/birth-death-marriage-certificates/"
            redirectType="Permanent"
            appendQueryString="false" />
        </rule>
        <rule name="Redirect accessing-your-property" stopProcessing="true">
          <match url="^(.*?)/accessing-your-property/?$" />
          <action
            type="Redirect"
            url="/{R:1}/help-for-you/rebuild-your-house/"
            redirectType="Permanent"
            appendQueryString="false" />
        </rule>
        <rule name="Redirect get-help-online" stopProcessing="true">
          <match url="^(.*?)/get-help-online/?$" />
          <action type="Redirect" url="/{R:1}/help-for-you/" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect cleanup-and-debris-removal" stopProcessing="true">
          <match url="^(.*?)/cleanup-and-debris-removal/?$" />
          <action
            type="Redirect"
            url="/{R:1}/help-for-you/rebuild-your-house/cleanup-debris-removal/"
            redirectType="Permanent"
            appendQueryString="false" />
        </rule>
        <rule name="Redirect plan-your-in-person-visit" stopProcessing="true">
          <match url="^lafires/([^/]+/)?plan-your-in-person-visit/?$" />
          <action
            type="Redirect"
            url="/lafires/{R:1}help-for-you/get-help-in-person/plan-your-in-person-visit/"
            redirectType="Permanent"
            appendQueryString="false" />
        </rule>
        <rule name="Redirect get-help-in-person" stopProcessing="true">
          <match url="^lafires/([^/]+/)?get-help-in-person/?$" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="help-for-you/" negate="true" />
          </conditions>
          <action
            type="Redirect"
            url="/lafires/{R:1}help-for-you/get-help-in-person/"
            redirectType="Permanent"
            appendQueryString="false" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS">
          <!-- Preload HSTS here ... https://hstspreload.org/ -->
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>

        <rule name="Remove Cache-Control for HTML">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.html$" />
          </conditions>
          <action type="Rewrite" value="public, max-age=1800" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
