---
layout: null
permalink: "lafires/css/custom.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
{%- include "../../src/css/custom.css" -%}
{%- endset -%}
{{- css | cssmin | safe -}}
