---
layout: null
permalink: "lafires/css/custom.flat.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
{%- include "../../src/css/custom.css" -%}
{%- endset -%}
{{- css | flattenCSS | safe -}}
