---
layout: null
permalink: "lafires/css/lafires.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
{%- include "../../src/css/ca.gov.fonts.css" -%}
{%- include "../../src/css/ca.gov.css" -%}
{%- include "../../src/css/custom.css" -%}
{%- endset -%}
{{- css | cssmin | safe -}}
