<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/topic6-lineart.svg?v23fds') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{description}}</p>

      <nav class="page-navigation"></nav>

      <h2>{{ 'return_damage_maps_heading' | i18n }}</h2>
      <p>{{ 'return_damage_maps_description' | i18n }}</p>

      <div class="row">
        <div class="col-lg-6 m-t">
          <article
            class="no-underline d-block bg-white  brd-solid-1 brd-gray-200 rounded-10 p-b pos-rel h-100">
            <img
              class="img-fluid rounded-4 w-100"
              src="/lafires/images/fire-palisades.jpg.webp?v2wweub"
              style="aspect-ratio:558/316"
              alt="{{ 'return_palisades_fire_map_alt' | i18n }}" />
            <div class="p-a-md">
              <h3 class="h4 m-t-0 m-b-0 color-gray-dark text-left font-size-20">
                {{ 'return_palisades_fire_heading' | i18n }}
              </h3>

              <a
                href="https://arcg.is/1vnjra1"
                class="btn btn-primary btn-sm m-t-md m-r">
                {{ 'return_view_palisades_fire_damage_map' | i18n | safe }}
              </a>
            </div>
          </article>
        </div>

        <div class="col-lg-6 m-t">
          <article
            class="no-underline d-block bg-white brd-solid-1 brd-gray-200 rounded-10 p-b pos-rel h-100">
            <img
              class="img-fluid rounded-4 w-100"
              src="/lafires/images/fire-eaton.jpg.webp?v2wweub"
              style="aspect-ratio:558/316"
              alt="{{ 'return_eaton_fire_map_alt' | i18n }}" />
            <div class="p-a-md">
              <h3 class="h4 m-t-0 m-b-0 color-gray-dark text-left font-size-20">
                {{ 'return_eaton_fire_heading' | i18n }}
              </h3>
              <a
                href="https://arcg.is/nqWXD0"
                class="btn btn-primary btn-sm m-t-md m-r">
                {{ 'return_view_eaton_fire_damage_map' | i18n | safe }}
              </a>
            </div>
          </article>
        </div>
      </div>

      <p class="m-t-md">{{ 'return_inspection_status_intro' | i18n }}</p>
      <ul>
        <li>{{ 'return_status_no_damage' | i18n }}</li>
        <li>{{ 'return_status_affected' | i18n }}</li>
        <li>{{ 'return_status_minor' | i18n }}</li>
        <li>{{ 'return_status_major' | i18n }}</li>
        <li>{{ 'return_status_destroyed' | i18n }}</li>
        <li>{{ 'return_status_inaccessible' | i18n }}</li>
      </ul>

      <p>{{ 'return_damage_photo_note' | i18n | safe }}</p>

      <h2>{{ 'return_neighborhood_return_heading' | i18n }}</h2>
      <p>{{ 'return_access_info' | i18n | safe }}</p>

      <h2>{{ 'return_cleanup_heading' | i18n }}</h2>

      <p>{{ 'return_cleanup_description' | i18n }}</p>

      <p>{{ 'return_phase1_description' | i18n | safe }}</p>

      <p>{{ 'return_phase2_description' | i18n | safe }}</p>

      <a
        class="btn btn-primary m-t-md"
        href="{{ '/lafires/cleanup-and-debris-removal/' | localizedPath }}"
        >{{ 'return_learn_about_cleanup_and_debris_removal' | i18n }}</a
      >

      <h2>{{ 'return_more_info_heading' | i18n }}</h2>
      <p>{{ 'return_los_angeles_has_more_info' | i18n | safe }}</p>
    </div>
  </div>
</div>
