<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/financial-assistance-lineart.svg?v2') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">
        {{ 'financial_assistance_lead' | i18n }}
      </p>

      <nav class="page-navigation"></nav>

      <h2 class="m-b-0">
        {{ 'financial_assistance_insurance' | i18n }}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_1_title' | i18n }}
            </h3>
            <p>
              {{ 'financial_assistance_card_1_description' | i18n }}
            </p>
            <p>
              {{ 'financial_assistance_card_1_description_2' | i18n }}
            </p>
            <ul>
              <li>
                {{ 'financial_assistance_card_1_list_1' | i18n | safe }}
              </li>
              <li>
                {{ 'financial_assistance_card_1_list_2' | i18n | safe }}
              </li>
              <li>
                {{ 'financial_assistance_card_1_list_3' | i18n | safe }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_2_title' | i18n }}
            </h3>
            <p>
              After a wildfire disaster, your insurance company can’t cancel
              your policy or decide not to renew it for 1 year. This applies to
              everyone in the affected area, even if your home wasn’t damaged.
              {# {{ 'financial_assistance_card_2_description' | i18n }} #}
            </p>
            <p>
              {{ 'financial_assistance_card_2_description_2' | i18n | safe }}
            </p>
          </div>
        </div>
      </div>

      <h2>
        {{ 'financial_assistance_mortgage_protections' | i18n }}
      </h2>
      <div class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded">
        <h3 class="h5 m-t-md">
          {{ 'financial_assistance_card_3_title' | i18n }}
        </h3>
        <p>
          {{ 'financial_assistance_card_3_description' | i18n }}
        </p>
        <ul>
          <li>
            {{ 'financial_assistance_card_3_list_1' | i18n }}
          </li>
          <li>
            {{ 'financial_assistance_card_3_list_2' | i18n }}
          </li>
          <li>
            {{ 'financial_assistance_card_3_list_3' | i18n }}
          </li>
          <li>
            {{ 'financial_assistance_card_3_list_4' | i18n }}
          </li>
        </ul>

        <div class="bg-gray-100 p-a-md m-t-md m-b-md d-flex align-items-top">
          <div>
            <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
          </div>
          <p class="color-p2-darker m-b-0">
            {{ 'financial_assistance_card_3_description_2' | i18n }}
          </p>
        </div>

        <p>
          {{ 'financial_assistance_card_3_description_3' | i18n | safe }}
        </p>
      </div>

      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          {{ 'financial_assistance_card_4_title' | i18n }}
        </h3>
        <p>
          {{ 'financial_assistance_card_4_description' | i18n | safe }}
        </p>
        <ul>
          <li>
            {{ 'financial_assistance_card_4_list_1' | i18n }}
          </li>
          <li>
            {{ 'financial_assistance_card_4_list_2' | i18n }}
          </li>
        </ul>
        <p>
          {{ 'financial_assistance_card_4_description_2' | i18n | safe }}
        </p>
      </div>

      <h2 class="m-b-0">
        {{ 'financial_assistance_renter_protections' | i18n }}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_5_title' | i18n }}
            </h3>
            <p>
              {{ 'financial_assistance_card_5_description' | i18n | safe }}
            </p>
            <p>
              {{ 'financial_assistance_card_5_description_2' | i18n | safe }}
            </p>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_6_title' | i18n }}
            </h3>
            <p>
              {{ 'financial_assistance_card_6_description' | i18n | safe }}
            </p>
            <p>
              {{ 'financial_assistance_card_6_description_2' | i18n | safe }}
            </p>
          </div>
        </div>
      </div>

      <h2 class="m-b-0">
        {{ 'financial_assistance_taxes' | i18n }}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_7_title' | i18n }}
            </h3>
            <p>
              {{ 'financial_assistance_card_7_description' | i18n | safe }}
            </p>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_8_title' | i18n }}
            </h3>
            <p>
              {{ 'financial_assistance_card_8_description' | i18n | safe }}
            </p>
            <ul>
              <li>
                {{ 'financial_assistance_card_8_list_1' | i18n | safe }}
              </li>
              <li>
                {{ 'financial_assistance_card_8_list_2' | i18n | safe }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h2 class="m-b-0">
        {{ 'financial_assistance_employment' | i18n }}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_9_title' | i18n }}
            </h3>
            <ul>
              <li>
                {{ 'financial_assistance_card_9_list_1' | i18n | safe }}
              </li>
              <li>
                {{ 'financial_assistance_card_9_list_2' | i18n | safe }}
              </li>
              <li>
                {{ 'financial_assistance_card_9_list_3' | i18n | safe }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              {{ 'financial_assistance_card_10_title' | i18n }}
            </h3>

            <ul>
              <li>
                {{ 'financial_assistance_card_10_list_1' | i18n | safe }}
              </li>
              <li>
                {{ 'financial_assistance_card_10_list_2' | i18n | safe }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h2 class="m-b-0">
        {{ 'financial_assistance_student_loan' | i18n }}
      </h2>
      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          {{ 'financial_assistance_card_11_title' | i18n
          }}
        </h3>
        <p>
          {{ 'financial_assistance_card_11_description' | i18n | safe }}
        </p>
      </div>

      <h2 class="m-b-0">
        {{ 'financial_assistance_cash' | i18n }}
      </h2>
      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          {{ 'financial_assistance_card_12_title' | i18n }}
        </h3>
        <p>
          {{ 'financial_assistance_card_12_description' | i18n }}
        </p>
        <p>
          {{ 'financial_assistance_card_12_description_2' | i18n | safe }}
        </p>
        <p>
          {{ 'financial_assistance_card_12_description_3' | i18n | safe }}
        </p>
        <p>
          {{ 'financial_assistance_card_12_description_4' | i18n | safe }}
        </p>
      </div>

      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          {{ 'financial_assistance_card_13_title' | i18n }}
        </h3>
        <p>
          {{ 'financial_assistance_card_13_description' | i18n }}
        </p>
        <p>
          {{ 'financial_assistance_card_13_description_2' | i18n | safe }}
        </p>
      </div>
    </div>
  </div>
</div>
