<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/financial-assistance-lineart.svg?v2') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">
        Get help with insurance, taxes, employment, and other financial needs.
        {# {{ 'financial_assistance_lead' | i18n }} #}
      </p>

      <h2 class="m-b-0">
        Insurance {# {{ 'financial_assistance_insurance' | i18n }} #}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Insurance claims {# {{ 'finansial_assistance_card_1_title' | i18n
              }} #}
            </h3>
            <p>
              If you have homeowners or renters insurance, file a claim as soon
              as possible. Keep a record of all your recovery expenses,
              including costs for temporary housing. {# {{
              'finansial_assistance_card_1_description' | i18n }} #}
            </p>
            <p>
              Get help with insurance claims: {# {{
              'finansial_assistance_card_1_description_2' | i18n }} #}
            </p>
            <ul>
              <li>
                Call <a href="tel:800-927-4357">800-927-4357</a>
                {# {{ 'finansial_assistance_card_1_list_1' | i18n | safe }} #}
              </li>
              <li>
                <a
                  href="https://www.insurance.ca.gov/01-consumers/140-catastrophes/WildfireResources.cfm"
                  >Find tips and resources for wildfire claims{# {{
                  'finansial_assistance_card_1_list_2' | i18n }} #}</a
                >
              </li>
              <li>
                <a href="https://cdiapps.insurance.ca.gov/CP/login/"
                  >File an insurance complaint online{# {{
                  'finansial_assistance_card_1_list_3' | i18n }} #}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Non-renewal protection {# {{ 'finansial_assistance_card_2_title' |
              i18n }} #}
            </h3>
            <p>
              After a wildfire disaster, your insurance company can’t cancel
              your policy or decide not to renew it for 1 year. This applies to
              everyone in the affected area, even if your home wasn’t damaged.
              {# {{ 'finansial_assistance_card_2_description' | i18n }} #}
            </p>
            <p>
              <a
                href="https://interactive.web.insurance.ca.gov/apex_extprd/f?p=450:50"
                >Find out if your zip code is protected</a
              >
              from losing insurance. If your zip code is protected and your
              company doesn’t renew your policy, you can
              <a href="https://cdiapps.insurance.ca.gov/CP/login/"
                >file an insurance complaint</a
              >. {# {{ 'finansial_assistance_card_2_description_2' | i18n | safe
              }} #}
            </p>
          </div>
        </div>
      </div>

      <h2>
        Mortgage protections {# {{ 'financial_assistance_mortgage_protections' |
        i18n }} #}
      </h2>
      <div class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded">
        <h3 class="h5 m-t-md">
          Mortgage relief {# {{ 'finansial_assistance_card_3_title' | i18n }} #}
        </h3>
        <p>
          The state worked with major lenders to offer mortgage relief. Over 400
          lenders committed to: {# {{ 'finansial_assistance_card_3_description'
          | i18n }} #}
        </p>
        <ul>
          <li>
            Reduce or pause mortgage payments for 90 days {# {{
            'finansial_assistance_card_3_list_1' | i18n }} #}
          </li>
          <li>
            Waive late fees for 90 days {# {{
            'finansial_assistance_card_3_list_2' | i18n }} #}
          </li>
          <li>
            Protect owners from new foreclosures or evictions for 60 days {# {{
            'finansial_assistance_card_3_list_3' | i18n }} #}
          </li>
          <li>
            Not report late payments to credit agencies {# {{
            'finansial_assistance_card_3_list_4' | i18n }} #}
          </li>
        </ul>

        <div class="bg-gray-100 p-a-md m-t-md m-b-md d-flex align-items-top">
          <div>
            <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
          </div>
          <p class="color-p2-darker m-b-0">
            You must contact your mortgage lender to get relief. It does not
            happen automatically. {# {{
            'finansial_assistance_card_3_description_2' | i18n }} #}
          </p>
        </div>

        <p>
          Learn about
          <a href="https://dfpi.ca.gov/lafires/relief/"
            >mortgage relief resources</a
          >
          and find a list of participating lenders. {# {{
          'finansial_assistance_card_3_description_3' | i18n | safe }} #}
        </p>
      </div>

      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          Foreclosure protection {# {{ 'finansial_assistance_card_4_title' |
          i18n }} #}
        </h3>
        <p>
          You’re protected from foreclosure until
          <strong>July 7, 2025</strong> if: {# {{
          'finansial_assistance_card_4_description' | i18n | safe }} #}
        </p>
        <ul>
          <li>
            You own a single-family home affected by the fires, and {# {{
            'finansial_assistance_card_4_list_1' | i18n }} #}
          </li>
          <li>
            Your mortgage is insured by the Federal Housing Administration (FHA)
            {# {{ 'finansial_assistance_card_4_list_2' | i18n }} #}
          </li>
        </ul>
        <p>
          If you’re facing foreclosure, contact your mortgage company. Or call
          the FHA Resource Center at
          <a href="tel:800-225-5342">800-225-5342</a>. {# {{
          'finansial_assistance_card_4_description_2' | i18n | safe }} #}
        </p>
      </div>

      <h2 class="m-b-0">
        Renter protections {# {{ 'financial_assistance_renter_protections' |
        i18n }} #}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Eviction protection {# {{ 'finansial_assistance_card_5_title' |
              i18n }} #}
            </h3>
            <p>
              If you lost at least 10% of your income due to the fires, you may
              be protected from eviction through <strong>July 31, 2025</strong>.
              Learn more about
              <a href="https://housing.lacity.gov/renter-protections-2"
                >eviction protection</a
              >
              and find out if you qualify. {# {{
              'finansial_assistance_card_5_description' | i18n | safe }} #}
            </p>
            <p>
              If you need eviction protection, you must notify your landlord
              <strong>each month</strong> within 7 days of rent being due. Send
              a
              <a
                href="https://dcba.lacounty.gov/wp-content/uploads/2025/02/Notice-to-Landlord-of-Inability-to-Pay-Rent-January-2025-Windstorm-and-Critical-Wildfire-Events-2.28.25.pdf"
                >Notice to Landlord of Inability to Pay Rent</a
              >
              (PDF).{# {{ 'finansial_assistance_card_5_description_2' | i18n }}
              #}
            </p>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Free mediation {# {{ 'finansial_assistance_card_6_title' | i18n }}
              #}
            </h3>
            <p>
              Los Angeles County offers
              <a href="https://dcba.lacounty.gov/mediation/"
                >free mediation services</a
              >
              for tenants and landlords. They can help you work out a payment
              plan. {# {{ 'finansial_assistance_card_6_description' | i18n |
              safe }} #}
            </p>
            <p>
              Call <a href="tel:8005938222">800-593-8222</a> to learn more. {#
              {{ 'finansial_assistance_card_6_description_2' | i18n | safe }} #}
            </p>
          </div>
        </div>
      </div>

      <h2 class="m-b-0">
        Taxes {# {{ 'financial_assistance_taxes' | i18n }} #}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Income tax {# {{ 'finansial_assistance_card_7_title' | i18n }} #}
            </h3>
            <p>
              If you live in Los Angeles County, you can postpone filing and
              paying your income tax until <strong>October 15, 2025</strong>.
              Learn about the
              <a
                href="https://www.ftb.ca.gov/file/when-to-file/los-angeles-county-fires.html"
                >income tax extension</a
              >. {# {{ 'finansial_assistance_card_7_description' | i18n | safe
              }} #}
            </p>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Property tax {# {{ 'finansial_assistance_card_8_title' | i18n }}
              #}
            </h3>
            <p>
              If your property was affected by the fires, you can: {# {{
              'finansial_assistance_card_8_description' | i18n }} #}
            </p>
            <ul>
              <li>
                Postpone paying your property tax until
                <strong>April 10, 2026</strong>. Learn about the
                <a
                  href="https://www.gov.ca.gov/2025/01/16/governor-newsom-extends-state-property-tax-deadlines-for-la-firestorm-communities-until-april-2026/"
                  >property tax extension</a
                >.{# {{ 'finansial_assistance_card_8_list_1' | i18n |safe }} #}
              </li>
              <li>
                Apply for
                <a
                  href="https://assessor.lacounty.gov/tax-relief/disaster-relief"
                  >property tax relief</a
                >
                from Los Angeles County. {# {{
                'finansial_assistance_card_8_list_2' | i18n |safe }} #}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h2 class="m-b-0">
        Employment {# {{ 'financial_assistance_employment' | i18n }} #}
      </h2>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Income replacement {# {{ 'finansial_assistance_card_9_title' |
              i18n }} #}
            </h3>
            <ul>
              <li>
                If you lost your job or lost wages,
                <a href="https://edd.ca.gov/en/unemployment/"
                  >apply for unemployment benefits</a
                >{# {{ 'finansial_assistance_card_9_list_1' | i18n |safe }} #}
              </li>
              <li>
                If you’re sick or injured and can’t work,
                <a href="https://edd.ca.gov/en/disability/disability_insurance/"
                  >apply for disability benefits</a
                >{# {{ 'finansial_assistance_card_9_list_2' | i18n |safe }} #}
              </li>
              <li>
                If you need time off to care for your family,
                <a href="https://edd.ca.gov/en/disability/paid-family-leave/"
                  >apply for paid family leave</a
                >{# {{ 'finansial_assistance_card_9_list_3' | i18n |safe }} #}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              Job search support {# {{ 'finansial_assistance_card_10_title' |
              i18n }} #}
            </h3>

            <ul>
              <li>
                Get help
                <a href="https://edd.ca.gov/en/jobs/">finding a job</a>{# {{
                'finansial_assistance_card_10_list_1' | i18n |safe }} #}
              </li>
              <li>
                Find
                <a
                  href="https://edd.ca.gov/en/jobs_and_training/Training_Information/"
                  >job training</a
                >{# {{ 'finansial_assistance_card_10_list_2' | i18n |safe }} #}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h2 class="m-b-0">
        Student loan protections {# {{ 'financial_assistance_student_loan' |
        i18n }} #}
      </h2>
      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          Job search support {# {{ 'finansial_assistance_card_11_title' | i18n
          }} #}
        </h3>
        <p>
          If you live in an area affected by the fires, you may qualify for
          disaster forbearance on your student loans. Learn about
          <a
            href="https://dfpi.ca.gov/lafires/federal-and-private-student-loan-relief-faq/"
            >student loan relief options</a
          >. {# {{ 'finansial_assistance_card_11_description' | i18n | safe }}
          #}
        </p>
      </div>

      <h2 class="m-b-0">
        Cash assistance and loans {# {{ 'financial_assistance_cash' | i18n }} #}
      </h2>
      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          FEMA disaster assistance {# {{ 'finansial_assistance_card_12_title' |
          i18n }} #}
        </h3>
        <p>
          FEMA disaster assistance includes funds for temporary housing,
          repairs, and rebuilding. Homeowners and renters can apply. {# {{
          'finansial_assistance_card_12_description' | i18n }} #}
        </p>
        <p>
          The deadline to apply was <strong>March 31, 2025</strong>. But you can
          submit a late application for 60 days after the deadline. Go to
          <a href="https://DisasterAssistance.gov">DisasterAssistance.gov</a> to
          apply or check your application status. {# {{
          'finansial_assistance_card_12_description_2' | i18n | safe }} #}
        </p>
        <p>
          <strong>If FEMA denied your application</strong>, you have 60 days to
          <a
            href="https://www.fema.gov/assistance/individual/after-applying/appeals"
            >appeal FEMA’s decision</a
          >. {# {{ 'finansial_assistance_card_12_description_3' | i18n | safe }}
          #}
        </p>
        <p>
          Learn more on
          <a href="https://www.fema.gov/disaster/4856">FEMA’s LA Fires page</a>.
          {# {{ 'finansial_assistance_card_12_description_4' | i18n | safe }} #}
        </p>
      </div>

      <div
        class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded m-t-md">
        <h3 class="h5 m-t-md">
          Disaster loans {# {{ 'finansial_assistance_card_13_title' | i18n }} #}
        </h3>
        <p>
          The Small Business Association (SBA) offers disaster loans to
          homeowners and renters. You can use these loans to repair your home or
          replace personal property damaged in the fires. {# {{
          'finansial_assistance_card_13_description' | i18n }} #}
        </p>
        <p>
          The deadline to apply for these loans was
          <strong>March 31, 2025</strong>. If you already applied, you can sign
          in to the <a href="http://lending.sba.gov">SBA loan portal</a> to
          check the status of your application. {# {{
          'finansial_assistance_card_13_description_2' | i18n | safe }} #}
        </p>
      </div>
    </div>
  </div>
</div>
