<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/food-and-shelter-lineart.svg?v2') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >2025 Los Angeles Fires</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">Find food banks, food benefits, emergency shelters, and temporary housing options.</p>
      <nav class="page-navigation"></nav>

      <h2>Food</h2>
      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              <a href="https://cdss.ca.gov/food-banks">
                Food banks
              </a>
            </h3>
            <p>Your local food bank can connect you with free food and groceries.</p>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              <a
                href="https://myfamily.wic.ca.gov/Home/HowCanIGetWIC#HowCanIGetWIC">
                WIC food benefits
              </a>
            </h3>
            <p>The California Women, Infants and Children (WIC) program supports growing families with low incomes.</p>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">
              <a href="https://benefitscal.com/">
                CalFresh food benefits
              </a>
            </h3>
            <p>CalFresh offers food benefits for people with low incomes.</p>
          </div>
        </div>
      </div>

      <h2>Shelter</h2>

      <div class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded">
        <h3 class="h4 m-t-md">Emergency shelters</h3>
        <p>Emergency shelters for the LA fires are now closed.</p>
      </div>
    </div>
  </div>
</div>
