<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin="" />
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<style>
  .non-english-only:lang(en),
  .english-only:not(:lang(en)) {
    display: none;
  }

  .cagov-map-and-tiles {
    position: relative;
  }
  #map {
    height: 512px;
    width: 100%;
    z-index: 0;
  }
  #map-credits {
    text-align: right;
    font-size: 16px; /* 0.8rem; */
    margin-top: 0.25rem;
  }

  #credits-tooltip {
    font-size: 16px; /* 0.8rem; */
    text-align: right;
  }

  .leaflet-container .leaflet-marker-pane img,
  .leaflet-container .leaflet-shadow-pane img,
  .leaflet-container .leaflet-tile-pane img,
  .leaflet-container img.leaflet-image-layer,
  .leaflet-container .leaflet-tile {
    background-color: transparent;
  }
  .leaflet-popup-tip-container,
  .leaflet-left {
    background-color: transparent;
  }
  .provider-card {
    padding: 1rem;
    background: #fff;
    border-radius: .33rem;
  }
  .provider-card.popup {
    display: none;
    float: right;
    position: absolute;
    width: 50%;
    max-height: 512px;
    overflow-y: auto;
    right: 0;
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    background: white;
    margin: 0;
  }

  @media only screen and (max-width: 768px) {
    div.with-popup#map-results {
      margin-top: 256px;
    }
    .provider-card.popup {
      width: 100%;
      /* top: 512px;
      max-height: 512px; */
    }
   }
   .provider-info div {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 0.5rem;
      margin-bottom: 0.5rem;
   }
   .provider-info a {
      font-size: 1.0rem;
      text-decoration: none;
   }
   .provider-info a:hover {
      text-decoration: underline;
   }
  .provider-card-container .h4 {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.5rem;
  }
  .provider-subcard-item:hover {
    cursor:pointer;
    box-shadow: 0px 0px 10px 0px #7167A8BF;
  }
  .services {
    position: relative;
    font-size: 0.95rem;
  }

  .services-list-label {
    position: absolute;
    top: -11px;
    left: 0;
    font-size: 0.9rem;
    background: #ffffff;
    padding: 0 0.5rem 0 0;
    margin-bottom: 0.5rem;
  }
  .distance-indicator {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
  button.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    opacity: 0.5;
  }
  button.close-button:hover,button.close-button:focus, button.close-button:active
  {
    background-color: #EEEEEE;
    opacity: 1.0;
    border: none;
  }

  .leaflet-tooltip {
    font-weight: 700;
    color: #207AC9 !important;
  }
  .skip-map {
    margin-bottom: 1rem;
  }
</style>

<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/topic2-lineart.svg?v3vehrb') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container p-y-lg">
  <div class="row">
    <!-- Sidebar Navigation -->
    <div class="col-lg-3">
      <nav class="side-navigation sticky-6">
        <a href="javascript:;" aria-hidden="true" class="d-none">{{title}}</a>
        <ul class="list-navigation">
          <li>
            <a href="/lafires/" class="font-weight-700"
              ><span class="color-p2"
                >{{ 'sidenav_2025_los_angeles_fires'| i18n }}</span
              ></a
            >
          </li>
          <li>
            <a href="/lafires/help-for-you/" class="landing back"
              >{{ 'sidenav_help_for_you'| i18n }}</a
            >
          </li>
          <li>
            <a href="/lafires//help-for-you/food-and-shelter/"
              >{{ 'sidenav_food_and_shelter'| i18n }}</a
            >
          </li>
          <li>
            <a href="/lafires/help-for-you/health-and-safety/"
              >{{ 'sidenav_health_and_safety'| i18n }}</a
            >
          </li>
          <li>
            <a href="/lafires/help-for-you/pets/">{{ 'sidenav_pets'| i18n }}</a>
          </li>
          <li>
            <a href="/lafires/help-for-you/financial-assistance/"
              >{{ 'sidenav_financial_assistance'| i18n }}</a
            >
          </li>

          <li>
            <a href="/lafires/help-for-you/replace-personal-documents/"
              >{{ 'sidenav_documents'| i18n }}</a
            >
          </li>
          <li>
            <a href="/lafires/help-for-you/rebuild-your-house/"
              >{{ 'sidenav_rebuild_your_house'| i18n }}</a
            >
          </li>
          <li>
            <a href="/lafires/help-for-you/get-help-in-person/" class="active"
              >{{ 'sidenav_get_help_in_person'| i18n }}</a
            >
            <ul>
              <li>
                <a
                  href="/lafires/help-for-you/get-help-in-person/plan-your-in-person-visit/"
                  >{{ 'sidenav_plan_your_in_person_visit'| i18n }}</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Main Content Area -->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{ 'help_person_lead_text' | i18n | safe }}</p>
      <a
        href="{{ '/lafires/help-for-you/get-help-in-person/plan-your-in-person-visit/' | localizedPath }}"
        class="btn btn-lg btn-primary rounded-5"
        >{{ 'help_person_plan_visit_button_text' | i18n }}</a
      >

      <nav class="page-navigation m-t-lg"></nav>

      <h2 class="mt-4">{{ 'help_person_find_a_drc' | i18n }}</h2>
      <p>{{ 'help_person_look_for_drc' | i18n }}</p>
      <a
        class="skip-map btn btn-primary rounded-5"
        href="#recovery-center-cards"
        >{{ 'help_person_skip_map' | i18n }}</a
      >

      <div class="cagov-map-and-tiles">
        <cagov-lafires-map></cagov-lafires-map>
      </div>

      <!-- Disaster Recovery Center Cards -->
      <div class="bg-gray-100 p-a-md m-t-md m-b-md d-flex align-items-top">
        <div>
          <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
        </div>
        <p class="color-p2-darker m-b-0">
          {{'help_person_notice' | i18n | safe }}
        </p>
      </div>

      <div class="row" id="recovery-center-cards">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">{{ 'help_person_ucla_drc_title' | i18n }}</h3>
            <p>{{ 'help_person_ucla_drc_address' | i18n | safe}}</p>

            <a
              class="btn btn-primary rounded-5 m-y maps-link"
              href="https://maps.google.com/?q=123+UCLA+Drive,+Los+Angeles,+CA+90095">
              {{ 'help_person_directions_button_text' | i18n }}<span
                class="sr-only">
                to UCLA Disaster Recovery Center</span
              ></a
            >
          </div>
        </div>

        <div class="col-md-6 m-t-md">
          <div
            class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md">{{ 'help_person_altadena_title' | i18n }}</h3>
            <p>{{ 'help_person_altadena_address' | i18n | safe }}</p>

            <a
              class="btn btn-primary rounded-5 m-y maps-link"
              href="https://maps.google.com/?q=540+W.+Woodbury+Road,+Altadena,+CA+91001"
              >{{ 'help_person_directions_button_text' | i18n }}<span
                class="sr-only">
                to Altadena Disaster Recovery Center</span
              ></a
            >
          </div>
        </div>
      </div>

      <p class="mt-4">{{ 'help_person_more_about_drcs' | i18n | safe }}</p>

      <hr class="mt-5" />

      <!-- Services on Site Section -->
      <h3>{{ 'help_person_services_on_site' | i18n }}</h3>
      <p>{{ 'help_person_services_description' | i18n | safe }}</p>

      <ul class="fw-bold fs-5">
        <li class="m-t">{{ 'help_person_food_benefits' | i18n }}</li>
        <li class="m-t">{{ 'help_person_health_services' | i18n }}</li>
        <li class="m-t">{{ 'help_person_mental_health_services' | i18n }}</li>
        <li class="m-t">{{ 'help_person_unemployment' | i18n }}</li>
        <li class="m-t">{{ 'help_person_disability_benefits' | i18n }}</li>
        <li class="m-t">
          {{ 'help_person_replacing_personal_documents' | i18n }}
        </li>
        <li class="m-t">{{ 'help_person_contractors' | i18n }}</li>
        <li class="m-t">
          {{ 'help_person_help_with_insurance_claims' | i18n }}
        </li>
        <li class="m-t">{{ 'help_person_tax_help_and_relief' | i18n }}</li>
      </ul>

      <p>
        {{ 'help_person_sign_in_services' | i18n }}
        <a
          href="{{ '/lafires/help-for-you/get-help-in-person/plan-your-in-person-visit/' | localizedPath }}"
          >{{ 'help_person_plan_visit_button_text' | i18n }}</a
        >
      </p>

      <hr class="mt-5" />

      <!-- Before you arrive section -->
      <h3>{{ 'help_person_before_you_arrive' | i18n }}</h3>
      <p>{{ 'help_person_before_you_arrive_description' | i18n | safe }}</p>

      <p>{{ 'help_person_bring_items' | i18n }}</p>
      <ul>
        <li class="m-t">
          {{ 'help_person_items_address_damaged_home' | i18n }}
        </li>
        <li class="m-t">
          {{ 'help_person_insurance_coverage_information' | i18n }}
        </li>
        <li class="m-t">
          {{ 'help_person_current_phone_number_and_mailing_address' | i18n }}
        </li>
        <li class="m-t">{{ 'help_person_bank_account_information' | i18n }}</li>
      </ul>
      <hr class="mt-5" />
      <!-- When you get here section -->
      <h3>{{ 'help_person_when_you_get_here' | i18n }}</h3>
      <ul>
        <li class="m-t">
          {{ 'help_person_arrival_info_parking' | i18n | safe }}
        </li>
        <li class="m-t">{{ 'help_person_restrooms_and_beverages' | i18n }}</li>
        <li class="m-t">
          {{ 'help_person_use_plan_your_visit' | i18n | safe }}
        </li>
      </ul>

      <hr class="mt-5" />
      <div class="scroll-section" id="federal-resources">
        <h2>{{ 'help_person_federal_resources_h2' | i18n }}</h2>
        <p>{{ 'help_person_federal_resources_description' | i18n }}</p>
        <p>{{ 'help_person_federal_resources_hours' | i18n | safe }}</p>

        <div class="bg-gray-100 p-a-md m-t-md m-b-0 d-flex align-items-top">
          <div>
            <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
          </div>
          <p class="color-p2-darker m-b-0">
            {{ 'help_person_federal_resources_note' | i18n }}
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 m-t-md">
            <div
              class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
              <h3 class="h5 m-t-md">
                {{ 'help_person_federal_resources_card_1_heading' | i18n }}
              </h3>
              <p class="font-size-16">
                {{ 'help_person_federal_resources_card_1_description' | i18n |
                safe }}
              </p>
            </div>
          </div>

          <div class="col-md-6 m-t-md">
            <div
              class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
              <h3 class="h5 m-t-md">
                {{ 'help_person_federal_resources_card_2_heading' | i18n }}
              </h3>
              <p class="font-size-16">
                {{ 'help_person_federal_resources_card_2_description' | i18n |
                safe }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-5" />
      <div class="scroll-section" id="one-shop">
        <h2>{{ 'help_person_one_shop_h2' | i18n }}</h2>
        <p>{{ 'help_person_one_shop_description' | i18n }}</p>
        <div class="row" id="recovery-center-cards">
          <div class="col-md-6 m-t-md">
            <div
              class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
              <h3 class="h5 m-t-md">
                {{ 'help_person_one_shop_center1' | i18n }}
              </h3>
              <p class="font-size-16">
                {{ 'help_person_one_shop_center1_address' | i18n | safe }}
              </p>
            </div>
          </div>

          <div class="col-md-6 m-t-md">
            <div
              class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
              <h3 class="h5 m-t-md">
                {{ 'help_person_one_shop_center2' | i18n }}
              </h3>
              <p class="font-size-16">
                {{ 'help_person_one_shop_center2_address' | i18n | safe }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <p class="mt-5">{{ 'help_person_one_shop_learn_more' | i18n | safe }}</p>
      <hr class="mt-5" />
      <h3>{{ 'help_person_one_shop_service' | i18n }}</h3>
      <p>{{ 'help_person_one_shop_service_description' | i18n }}</p>
      <ul>
        <li class="m-t">{{ 'help_person_one_shop_service_list_1' | i18n }}</li>
        <li class="m-t">{{ 'help_person_one_shop_service_list_2' | i18n }}</li>
        <li class="m-t">{{ 'help_person_one_shop_service_list_3' | i18n }}</li>
      </ul>
    </div>
  </div>
</div>
