<!-- Public Sans Font-->
<link rel="preconnect" href="https://cdn.cdt.ca.gov" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<!-- End Public Sans Font -->

<!-- State Web template required CSS -->
<link
  href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/css/cagov.core.min.css"
  rel="stylesheet"
  integrity="sha256-f2k3x0x/l4G+mg5fxnV+Q37/8RoMOoMOWphHJ4vWn6g="
  crossorigin="anonymous" />
<link
  rel="stylesheet"
  href="/lafires/css/lafires.min.css?vaug5"
  id="main-stylesheet" />
<script
  src="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/js/cagov.core.min.js"
  integrity="sha256-MRHAOqwc4jjHeTGa/9mcdxAv3aVG+lQ7eJ9DPa+Gr/k="
  defer
  crossorigin="anonymous"></script>

<script src="/lafires/js/lafires.min.js?v{% DateHex %}" type="module"></script>
<script src="/lafires/js/lang-switch-query.js"></script>
{%- if drc_map %}
<script src="/lafires/js/drc-map.min.js?dv{% DateHex %}" type="module"></script>
{% endif -%}

<!-- Site icons -->
<link
  rel="apple-touch-icon-precomposed"
  sizes="100x100"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-precomposed.png" />
<link
  rel="icon"
  sizes="192x192"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-192x192.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="180x180"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-180x180.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="152x152"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-152x152.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="144x144"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-144x144.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="120x120"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-120x120.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="114x114"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-114x114.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="72x72"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-72x72.png" />
<link
  rel="apple-touch-icon-precomposed"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-57x57.png" />
<link
  rel="shortcut icon"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon-57x57.png" />
<link
  rel="apple-touch-icon"
  crossorigin="anonymous"
  href="https://www.ca.gov/images/apple-touch-icon.png" />
<link rel="shortcut icon" href="/favicon.ico" />
<!-- Google analytics -->
{% include "analytics.html" -%}
