<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/health-and-safety-lineart.svg?v2') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{ 'health_and_safety_lead' | i18n }}</p>

      <nav class="page-navigation"></nav>

      <h2>{{ 'health_and_safety_air_safety' | i18n }}</h2>
      <p>{{ 'health_and_safety_air_safety_description' | i18n }}</p>

      <h3>{{ 'health_and_safety_outdoor_air_quality' | i18n }}</h3>
      <p>
        {{ 'health_and_safety_outdoor_air_quality_description' | i18n | safe }}
      </p>
      <p>
        {{ 'health_and_safety_outdoor_air_quality_description_2' | i18n | safe
        }}
      </p>

      <h3>{{ 'health_and_safety_indoor_air_quality' | i18n }}</h3>
      <p>
        {{ 'health_and_safety_indoor_air_quality_description' | i18n | safe }}
      </p>

      <h2>{{ 'health_and_safety_water_safety' | i18n }}</h2>
      <p>{{ 'health_and_safety_water_safety_description' | i18n | safe }}</p>

      <p>{{ 'health_and_safety_water_safety_description_2' | i18n | safe }}</p>
      <ul>
        <li class="m-t">
          {{ 'health_and_safety_water_safety_list_1' | i18n }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_water_safety_list_2' | i18n }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_water_safety_list_3' | i18n }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_water_safety_list_4' | i18n }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_water_safety_list_5' | i18n }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_water_safety_list_6' | i18n }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_water_safety_list_7' | i18n }}
        </li>
      </ul>
      <p>{{ 'health_and_safety_water_safety_description_2' | i18n | safe }}</p>
      <p>{{ 'health_and_safety_water_safety_description_3' | i18n | safe }}</p>

      <h2>{{ 'health_and_safety_hazardous_waste' | i18n }}</h2>
      <p>{{ 'health_and_safety_hazardous_waste_description_1' | i18n }}</p>
      <p>{{ 'health_and_safety_hazardous_waste_description_2' | i18n }}</p>
      <p>{{ 'health_and_safety_hazardous_waste_description_3' | i18n }}</p>
      <p>
        {{ 'health_and_safety_hazardous_waste_description_4' | i18n | safe }}
      </p>
      <p>
        {{ 'health_and_safety_hazardous_waste_description_5' | i18n | safe }}
      </p>

      <h2>{{ 'health_and_safety_ash' | i18n }}</h2>
      <p>{{ 'health_and_safety_ash_description_1' | i18n }}</p>
      <p>{{ 'health_and_safety_ash_description_2' | i18n }}</p>
      <ul>
        <li class="m-t">{{ 'health_and_safety_ash_list_1' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_2' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_3' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_4' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_5' | i18n }}</li>
      </ul>

      <p>{{ 'health_and_safety_ash_description_3' | i18n }}</p>

      <p>{{ 'health_and_safety_ash_description_4' | i18n }}</p>
      <ul>
        <li class="m-t">{{ 'health_and_safety_ash_list_6' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_7' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_8' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_9' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_10' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_11' | i18n }}</li>
        <li class="m-t">{{ 'health_and_safety_ash_list_12' | i18n }}</li>
      </ul>
      <p>{{ 'health_and_safety_ash_description_5' | i18n | safe }}</p>

      <p>{{ 'health_and_safety_ash_description_6' | i18n | safe }}</p>

      <h2>{{ 'health_and_safety_medical_help' | i18n }}</h2>
      <p>{{ 'health_and_safety_medical_help_description' | i18n | safe }}</p>

      <p>{{ 'health_and_safety_medical_help_description_2' | i18n | safe }}</p>

      <p>{{ 'health_and_safety_medical_help_description_3' | i18n | safe }}</p>

      <h2>{{ 'health_and_safety_mental_health_support' | i18n }}</h2>
      <p>{{ 'health_and_safety_mental_health_support_description' | i18n }}</p>

      <p>
        {{ 'health_and_safety_mental_health_support_description_2' | i18n }}
      </p>

      <ul>
        <li class="m-t">
          {{ 'health_and_safety_mental_health_support_list_1' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_mental_health_support_list_2' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_mental_health_support_list_3' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'health_and_safety_mental_health_support_list_4' | i18n | safe }}
        </li>
      </ul>

      <p>
        {{ 'health_and_safety_mental_health_support_description_3' | i18n }}
      </p>

      <ul>
        <li class="m-t">
          Find
          <a href="https://www.chhs.ca.gov/youthresources/"
            >mental health resources for youth</a
          >
          {# {{ 'health_and_safety_mental_health_support_list_5' | i18n | safe
          }} #}
        </li>
        <li class="m-t">
          Get
          <a href="https://altercareline.com/"
            >in-person or phone counseling from AlterCareLine</a
          >
          {# {{ 'health_and_safety_mental_health_support_list_6' | i18n | safe
          }} #}
        </li>
        <li class="m-t">
          Check if your workplace has an Employee Assistance Program with
          confidential counseling {# {{
          'health_and_safety_mental_health_support_list_7' | i18n }} #}
        </li>
      </ul>
    </div>
  </div>
</div>
