<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/help-for-you-lineart.svg?v2') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{'help_online_lead_text' | i18n}}</p>

      <nav class="page-navigation"></nav>

      <div class="row">
        <div class="col-md-6 m-t-md">
          <div
            class="bg-gray-50 p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-100 rounded">
            <div class="h4 m-t-md" role="heading" aria-level="2">
              Get help in person
            </div>
            <p>
              Find help and advice in person at a
              <a href="/lafires/get-help-in-person/">Disaster Recovery Center</a
              >.
            </p>
          </div>
        </div>
        <div class="col-md-6 m-t-md">
          <div
            class="bg-gray-50 p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-100 rounded">
            <div class="h4 m-t-md" role="heading" aria-level="2">
              Find services you need
            </div>
            <p>
              Not sure where to start? Use our to find help

              <a href="/lafires/get-help-in-person/">service finder tool</a>
              available to you.
            </p>
          </div>
        </div>
      </div>

      <h2>Basic needs</h2>
      <p>Get the help you need now.</p>

      <div class="row">
        <div class="col-md-4 mb-4">
          <a href="javascript:;" class="link-grid">Food and shelter</a>
        </div>
        <div class="col-md-4 mb-4">
          <a href="javascript:;" class="link-grid">Health and safety</a>
        </div>
        <div class="col-md-4 mb-4">
          <a href="javascript:;" class="link-grid">Pets</a>
        </div>
      </div>

      <h2>Recovery needs</h2>
      <p>Start your long-term recovery.</p>
      <div class="row">
        <div class="col-md-4 mb-4">
          <a href="javascript:;" class="link-grid">Financial assistance</a>
        </div>
        <div class="col-md-4 mb-4">
          <a href="javascript:;" class="link-grid">Rebuilding your house</a>
        </div>
        <div class="col-md-4 mb-4">
          <a href="javascript:;" class="link-grid">Replacing documents</a>
        </div>
      </div>

      <h2>Preparing for emergencies</h2>
      <ul>
        <li class="m-t">
          <a href="https://www.listoscalifornia.org/disaster-readiness/"
            >Find tips to prepare for emergencies</a
          >
        </li>
        <li class="m-t">
          <a
            href="https://www.cdph.ca.gov/Programs/EPO/Pages/PrepareanEmergencySupplyKit.aspx"
            >Prepare an emergency kit</a
          >
        </li>
        <li class="m-t">
          <a
            href="https://experience.arcgis.com/experience/5065c998b4b0462f9ec3c6c226c610a9/page/Compare-old-and-new-LRA-FHSZ#data_s=id%3Awidget_114_output_config_default_geocode_0_0%3A0"
            >Check if your home is in a fire hazard zone
          </a>
        </li>
      </ul>

      <h2>More resources for certain groups</h2>
      <ul>
        <li class="m-t">
          <a href="https://cdss.ca.gov/disaster-help-center"
            >Disaster assistance guide for immigrants</a
          >
        </li>
        <li class="m-t">
          <a href="https://www.calvet.ca.gov/Pages/cawildfires.aspx"
            >Disaster resources for veterans</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
