<div class="container p-y m-b-md">
  {%- include "breadcrumbs.html" -%}

  <div class="row">
    <div class="col-lg-4 section-primary p-a-md p-b-lg">
      <h1 class="m-t-0 h2">{{title}}</h1>
      <p>{{ 'home_main_description' | i18n }}</p>
      <div class="p-t-md d-flex flex-column align-items-start text-nowrap">
        <!-- Button Container to Add Vertical Spacing -->
        <div class="d-block">
          <!-- Find Help Available Button -->
          <a
            href="{{ '/lafires/recovery-services-finder/' | localizedPath }}"
            class="btn btn-outline-primary d-block align-items-center px-3 py-2 gap-2 rounded-1 wrap text-left">
            <img
              src="/lafires/images/recovery-finder-icon-primary.svg"
              alt="Recovery finder icon"
              class="height-20 pos-rel top-minus-3" />
            {{ 'home_find_help_available_title' | i18n }}
          </a>

          <!-- Track LA's Progress Button -->
          <a
            href="{{ '/lafires/track-progress/' | localizedPath }}"
            class="btn btn-outline-primary d-inline-block align-items-center px-3 py-2 gap-2 rounded-1 m-t-md wrap text-left">
            <img
              src="/lafires/images/track-la-progress-primary.svg"
              alt="Track LA's Progress"
              class="height-20 pos-rel top-minus-3" />
            {{ 'home_track_la_progress_title' | i18n }}
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-8 bg-s3"
      style="background: url('/lafires/images/hands-banner-lineart.svg') no-repeat center / cover;"></div>
    <span class="sr-only"
      >{{ 'home_hands_reaching_out_image_alt' | i18n }}</span
    >
  </div>
</div>

<div class="section-understated">
  <div class="container p-t-lg p-b-lg">
    <h2 class="m-y-0 font-size-25">{{ 'home_top_needs' | i18n }}</h2>
    <div class="row">
      <div class="col-lg-4 m-t-md">
        <a
          href="{{ '/lafires/help-for-you/replace-personal-documents/' | localizedPath }}"
          class="link-grid bg-white bg-gray-50-hover no-icon"
          ><h3 class="m-a-0 font-size-20 bold">
            {{ 'home_replace_documents' | i18n }}
          </h3></a
        >
      </div>
      <div class="col-lg-4 m-t-md">
        <a
          href="{{ '/lafires/help-for-you/rebuild-your-house/cleanup-debris-removal/' | localizedPath }}"
          class="link-grid bg-white bg-gray-50-hover no-icon"
          ><h3 class="m-a-0 font-size-20 bold">
            {{ 'home_get_debris_removed' | i18n }}
          </h3></a
        >
      </div>
      <div class="col-lg-4 m-t-md">
        <a
          href="{{ '/lafires/help-for-you/get-help-in-person/' | localizedPath }}"
          class="link-grid bg-white bg-gray-50-hover no-icon"
          ><h3 class="m-a-0 font-size-20 bold">
            {{ 'home_get_help_in_person' | i18n }}
          </h3></a
        >
      </div>
    </div>
  </div>
</div>

<!--HIGHLIGHTS-->
<div
  class="bg p-b-lg"
  style="background: url(/lafires/images/moutains.svg) no-repeat top / cover;">
  <div class="container">
    <h2>{{ 'home_highlights' | i18n }}</h2>
    <div class="row">
      <div class="col-lg-6">
        <div
          class="bg-white bg-gray-50-hover px-3 px-lg-5 p-y-lg pos-rel h-100 brd-solid-1 brd-highlight-light transform-scale-1_05--hover transition-0_3 rounded">
          <h3 class="m-t-md m-b">
            <a
              href="/lafires/rebuilding-la/"
              class="color-p2 link-before text-left no-underline d-block"
              >{{ 'home_highlights_title_1' | i18n }}</a
            >
          </h3>
          <p>{{ 'home_highlights_description_1' | i18n | safe }}</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div
          class="bg-white bg-gray-50-hover px-3 px-lg-5 p-y-lg pos-rel h-100 brd-solid-1 brd-highlight-light transform-scale-1_05--hover transition-0_3 rounded">
          <h3 class="m-t-md m-b">
            <a
              href="/lafires/help-for-you/health-and-safety/#Mental-health-support"
              class="color-p2 link-before text-left no-underline d-block"
              >{{ 'home_highlights_title_2' | i18n }}</a
            >
          </h3>
          <p>{{ 'home_highlights_description_2' | i18n | safe }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-b-lg">
  <h2 class="m-b-0">{{ 'home_what_you_can_do' | i18n }}</h2>

  <div class="row">
    <div class="col-lg-6 m-t-md">
      <div
        class="bg-gray-50 bg-gray-75-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="m-t-md m-b">
          <a
            href="{{ '/lafires/help-for-you/' | localizedPath }}"
            class="color-p2 link-before text-left no-underline d-block"
            >{{ 'home_help_online_title' | i18n }}</a
          >
        </h3>
        <p class="m-b text-left">{{ 'home_help_online_description' | i18n }}</p>
      </div>
    </div>

    <div class="col-lg-6 m-t-md">
      <div
        class="bg-gray-50 bg-gray-75-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="m-t-md m-b">
          <a
            href="{{ '/lafires/help-for-your-business/' | localizedPath }}"
            class="color-p2 link-before text-left no-underline d-block"
            >{{ 'home_help_for_your_business_title' | i18n }}</a
          >
        </h3>
        <p class="m-b text-left">
          {{ 'home_help_for_your_business_description' | i18n }}
        </p>
      </div>
    </div>
  </div>

  <div
    class="bg-white p-x-md p-b-md pos-rel brd-solid-1 brd-gray-200 m-t-md m-b-lg rounded">
    <h3 class="m-t-md m-b">
      <img
        src="/lafires/images/recovery-finder-icon-primary.svg"
        alt="Recovery finder icon"
        class="height-30 pos-rel top-minus-3" />
      <span class="color-p2">{{ 'home_finder_title' | i18n }}</span>
    </h3>
    <p>{{ 'home_finder_description' | i18n | safe }}</p>
  </div>

  <h2 class="m-b-0">{{ 'home_stay_up_to_date' | i18n }}</h2>
  <div class="row">
    <div class="col-lg-6 m-t-md">
      <div
        class="bg-gray-50 bg-gray-75-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="m-t-md m-b">
          <a
            href="{{ '/lafires/see-real-time-info/' | localizedPath }}"
            class="color-p2 link-before text-left no-underline d-block"
            >{{ 'home_see_real_time_info' | i18n }}</a
          >
        </h3>
        <p class="m-b text-left">
          {{ 'home_find_fire_maps_air_quality_and_road_closure_maps' | i18n }}
        </p>
      </div>
    </div>

    <div class="col-lg-6 m-t-md">
      <div
        class="bg-gray-50 bg-gray-75-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="m-t-md m-b">
          <a
            href="{{ '/lafires/track-progress/' | localizedPath }}"
            class="color-p2 link-before text-left no-underline d-block"
            >{{ 'home_tracker_title' | i18n }}</a
          >
        </h3>
        <p class="m-b text-left">{{ 'home_tracker_description' | i18n }}</p>
      </div>
    </div>
  </div>
</div>

<div class="section-understated">
  <div class="container p-t-lg p-b-lg">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="h3 m-t-0">{{ 'home_join_the_conversation' | i18n }}</h2>
        <p>
          {{
          'home_sign_up_to_tell_us_about_your_recovery_experience_and_hear_from_others'
          | i18n | safe }}
        </p>
      </div>
      <div class="col-lg-6">
        <h2 class="h3 m-t-0">{{ 'home_volunteer_title' | i18n }}</h2>
        <p>{{ 'home_volunteer_description' | i18n | safe }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container p-b-lg">
  <div class="row">
    <!-- News list -->
    <div class="col-lg-8 m-x-auto">
      <div class="brd-solid-1 brd-gray-200 rounded-10 p-a-md m-t-lg bg-white">
        <h2 class="m-t-0 h3">{{ 'home_state_updates' | i18n }}</h2>

        {%- set counter = 0 -%} {%- for story in
        laFiresStories.rss.channel[0].item -%} {%- if counter < 4 and (category1
        in story.category or category2 in story.category or category3 in
        story.category) -%}
        <hr class="m-y-md" />
        <h3 class="lead font-weight-700">
          <a href="{{ story.link }}" lang="en-US" hreflang="en-US"
            >{{ story.title }}</a
          >
        </h3>
        <p>{{ story.pubDate | customDate }}</p>
        {%- set counter = counter + 1 -%} {%- endif -%} {%- endfor %}

        <hr class="m-y-md" />

        <p class="m-b-md">
          <a href="https://www.gov.ca.gov/tag/la-fires/"
            >{{ 'home_view_all_la_fires_news' | i18n }}</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section-primary">
  <div class="container p-y-lg">
    <div class="row">
      <div class="col-lg-10">
        <h2 class="m-t-0 h3">{{ 'home_rebuild_faster_title' | i18n }}</h2>
        <p>{{ 'home_rebuild_faster_description' | i18n | safe }}</p>

        <p>{{ 'home_governor_signs_legislation' | i18n | safe }}</p>

        <p>{{ 'home_see_all_actions' | i18n | safe }}</p>

        <h2 class="h3">{{ 'home_major_disaster_title' | i18n }}</h2>
        <p>{{ 'home_major_disaster_description' | i18n | safe }}</p>
        <p>{{ 'home_declaration_assistance' | i18n }}</p>
        <ul>
          <li>{{ 'home_assistance_list_1' | i18n }}</li>
          <li>{{ 'home_assistance_list_2' | i18n }}</li>
          <li>{{ 'home_assistance_list_3' | i18n }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- visible modification test 2025-03-13 10:24 -->
