<!-- Site navigation structural component -->
<nav
  id="navigation"
  class="main-navigation dropdown"
  aria-label="Main navigation"
>
  <ul id="nav_list" class="top-level-nav">
    <li class="nav-item">
      <a
        class="first-level-link {{- ' active' if landing === 'Services' }}"
        href="https://www.ca.gov/services/"
      >
        Services
      </a>
    </li>
    <li class="nav-item">
      <a
        class="first-level-link {{- ' active' if landing === 'Departments' }}"
        href="https://www.ca.gov/departments/"
      >
        Departments
      </a>
    </li>
    <li class="nav-item">
      <a
        class="first-level-link {{- ' active' if landing === 'About' }}"
        href="https://www.ca.gov/about-california/"
      >
        About California
      </a>
    </li>
    <li class="nav-item">
      <a
        class="first-level-link {{- ' active' if landing === 'Support' }}"
        href="https://www.ca.gov/support/"
      >
        Get help
      </a>
    </li>
  </ul>
</nav>
