<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/check-list-lineart.svg?v3efv') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">
      <nav class="side-navigation sticky-6">
        <a href="javascript:;" aria-hidden="true" class="d-none">{{title}}</a>
        <ul class="list-navigation">
          <li>
            <a href="{{ '/lafires/' | localizedPath }}" class="font-weight-700"
              ><span class="color-p2"
                >{{ 'sidenav_2025_los_angeles_fires'| i18n }}</span
              ></a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/' | localizedPath }}"
              class="landing back"
              >{{ 'sidenav_help_for_you'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/food-and-shelter/' | localizedPath }}"
              >{{ 'sidenav_food_and_shelter'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/health-and-safety/' | localizedPath }}"
              >{{ 'sidenav_health_and_safety'| i18n }}</a
            >
          </li>
          <li>
            <a href="{{ '/lafires/help-for-you/pets/' | localizedPath }}"
              >{{ 'sidenav_pets'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/financial-assistance/' | localizedPath }}"
              >{{ 'sidenav_financial_assistance'| i18n }}</a
            >
          </li>

          <li>
            <a
              href="{{ '/lafires/help-for-you/replace-personal-documents/' | localizedPath }}"
              >{{ 'sidenav_documents'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/rebuild-your-house/' | localizedPath }}"
              >{{ 'sidenav_rebuild_your_house'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/get-help-in-person/' | localizedPath }}"
              >{{ 'sidenav_get_help_in_person'| i18n }}</a
            >
            <ul>
              <li>
                <a
                  href="{{ '/lafires/help-for-you/get-help-in-person/plan-your-in-person-visit/' | localizedPath }}"
                  class="active"
                  >{{ 'sidenav_plan_your_in_person_visit'| i18n }}</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{description}}</p>

      <div class="btn-row d-flex gap-2 m-t-lg">
        <button
          class="btn btn-primary btn-lg rounded-5"
          aria-label="{{ 'plan_visit_share_aria_label' | i18n }}"
          id="share-this-page">
          <img
            src="/lafires/images/icon-share.svg"
            alt="Share icon"
            class="height-20" />
          {{ 'plan_visit_share_button' | i18n }}
        </button>
        <a
          hreflang="en-US"
          href="/lafires/docs/disaster-recovery-center-checklist.pdf"
          class="btn btn-outline-primary btn-lg rounded-5">
          <img
            src="/lafires/images/icon-download.svg"
            alt="Download icon"
            class="height-20" />
          {{ 'plan_visit_english_pdf' | i18n }} >
        </a>
      </div>

      <p class="m-t-md">{{ 'plan_visit_more_languages' | i18n }}</p>
      <div class="row">
        <div class="col-lg-5 p-b-sm">
          <a
            hreflang="es-US"
            href="/lafires/docs/disaster-recovery-center-checklist-spanish.pdf"
            class="btn btn-outline-primary btn-sm w-100">
            {{ 'plan_visit_spanish_pdf' | i18n }}
          </a>
        </div>

        <div class="col-lg-5 p-b-sm">
          <a
            hreflang="zh-Hans-US"
            href="/lafires/docs/disaster-recovery-center-checklist-chinese-simplified.pdf"
            class="btn btn-outline-primary btn-sm w-100">
            {{ 'plan_visit_chinese_simplified_pdf' | i18n }} >
          </a>
        </div>

        <div class="col-lg-5 p-b-sm">
          <a
            hreflang="zh-Hant-US"
            href="/lafires/docs/disaster-recovery-center-checklist-chinese-traditional.pdf"
            class="btn btn-outline-primary btn-sm w-100">
            {{ 'plan_visit_chinese_traditional_pdf' | i18n }}
          </a>
        </div>

        <div class="col-lg-5 p-b-sm">
          <a
            hreflang="tl-US"
            href="/lafires/docs/disaster-recovery-center-checklist-tagalog.pdf"
            class="btn btn-outline-primary btn-sm w-100">
            {{ 'plan_visit_tagalog_pdf' | i18n }}
          </a>
        </div>

        <div class="col-lg-5 p-b-sm">
          <a
            hreflang="vi-US"
            href="/lafires/docs/disaster-recovery-center-checklist-vietnamese.pdf"
            class="btn btn-outline-primary btn-sm w-100">
            {{ 'plan_visit_vietnamese_pdf' | i18n }}
          </a>
        </div>

        <div class="col-lg-5 p-b-sm">
          <a
            hreflang="ko-US"
            href="/lafires/docs/disaster-recovery-center-checklist-korean.pdf"
            class="btn btn-outline-primary btn-sm w-100">
            {{ 'plan_visit_korean_pdf' | i18n }}
          </a>
        </div>
      </div>

      <div class="m-t-md m-b-lg p-x p-y bg-gray-75 color-p2-darker">
        <div class="d-flex align-items-top gap-2">
          <div><span class="ca-gov-icon-info-line"></span></div>
          <p>{{ 'plan_visit_note' | i18n | safe }}</p>
        </div>
      </div>

      <!-- Health Section -->
      <h2>{{ 'plan_visit_health_section' | i18n }}</h2>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check1"
          id="check1" />
        <label class="form-check-label cursor-pointer" for="check1"
          ><span class="bold d-block"
            >{{ 'plan_visit_health_wildfire' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_health_wildfire_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check2"
          id="check2" />
        <label class="form-check-label cursor-pointer" for="check2"
          ><span class="bold d-block"
            >{{ 'plan_visit_health_n95' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_health_n95_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check3"
          id="check3" />
        <label class="form-check-label cursor-pointer" for="check3"
          ><span class="bold d-block"
            >{{ 'plan_visit_health_medical' | i18n }}</span
          >
          <ul class="m-b-0">
            <li class="m-t">
              {{ 'plan_visit_health_medical_prescription' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_health_medical_referrals' | i18n }}
            </li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_health_medical_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check4"
          id="check4" />
        <label class="form-check-label cursor-pointer" for="check4"
          ><span class="bold d-block"
            >{{ 'plan_visit_health_medical_cal' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_health_medical_cal_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check5"
          id="check5" />
        <label class="form-check-label cursor-pointer" for="check5"
          ><span class="bold d-block"
            >{{ 'plan_visit_health_mental' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_health_mental_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check6"
          id="check6" />
        <label class="form-check-label cursor-pointer" for="check6"
          ><span class="bold d-block"
            >{{ 'plan_visit_health_disabilities' | i18n }}</span
          >
          <ul class="m-b-0">
            <li class="m-t">
              {{ 'plan_visit_health_disabilities_referrals' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_health_disabilities_caregiver' | i18n }}
            </li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_health_disabilities_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check7"
          id="check7" />
        <label class="form-check-label cursor-pointer" for="check7"
          ><span class="bold d-block"
            >{{ 'plan_visit_health_veterans' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_health_veterans_agency' | i18n }}
          </div></label
        >
      </div>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_housing_section' | i18n }}</h2>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check10"
          id="check10" />
        <label class="form-check-label cursor-pointer" for="check10"
          ><span class="bold d-block"
            >{{ 'plan_visit_housing_help' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_housing_help_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check11"
          id="check11" />
        <label class="form-check-label cursor-pointer" for="check11"
          ><span class="bold d-block"
            >{{ 'plan_visit_housing_temporary' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_housing_temporary_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check12"
          id="check12" />
        <label class="form-check-label cursor-pointer" for="check12"
          ><span class="bold d-block"
            >{{ 'plan_visit_housing_protections' | i18n }}</span
          >
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">
              {{ 'plan_visit_housing_protections_gouging' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_housing_protections_tenant' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_housing_protections_foreclosure' | i18n }}
            </li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_housing_protections_agency' | i18n }}
          </div></label
        >
      </div>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_social_services_section' | i18n }}</h2>
      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check13"
          id="check13" />
        <label class="form-check-label cursor-pointer" for="check13"
          ><span class="bold d-block"
            >{{ 'plan_visit_social_services_child_support' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_social_services_child_support_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check14"
          id="check14" />
        <label class="form-check-label cursor-pointer" for="check14"
          ><span class="bold d-block"
            >{{ 'plan_visit_social_services_va' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_social_services_va_agency' | i18n }}
          </div></label
        >
      </div>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_fema_section' | i18n }}</h2>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check16"
          id="check16" />
        <label class="form-check-label cursor-pointer" for="check16"
          ><span class="bold">{{ 'plan_visit_fema_grants' | i18n }}</span><br />
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_fema_grants_agency' | i18n }}
          </div>
        </label>
      </div>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_documents_section' | i18n }}</h2>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check17"
          id="check17" />
        <label class="form-check-label cursor-pointer" for="check17"
          ><span class="bold">{{ 'plan_visit_documents_vital' | i18n }}</span
          ><br />
          <span class="font-weight-400 italic d-block"
            >{{ 'plan_visit_documents_vital_fees' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_documents_vital_agency_1' | i18n }}
          </div>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_documents_vital_agency_2' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check18"
          id="check18" />
        <label class="form-check-label cursor-pointer" for="check18"
          ><span class="bold">{{ 'plan_visit_documents_id' | i18n }}</span>
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">{{ 'plan_visit_documents_id_car' | i18n }}</li>
            <li class="m-t">{{ 'plan_visit_documents_id_license' | i18n }}</li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_documents_id_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check19"
          id="check19" />
        <label class="form-check-label cursor-pointer" for="check19"
          ><span class="bold"
            >{{ 'plan_visit_documents_mobile_home' | i18n }}</span
          >
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">
              {{ 'plan_visit_documents_mobile_home_ownership' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_documents_mobile_home_salvage' | i18n }}
            </li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_documents_mobile_home_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check20"
          id="check20" />
        <label class="form-check-label cursor-pointer" for="check20"
          ><span class="bold d-block"
            >{{ 'plan_visit_documents_property' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_documents_property_agency' | i18n }}
          </div></label
        >
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check21"
          id="check21" />
        <label class="form-check-label cursor-pointer" for="check21"
          ><span class="bold">{{ 'plan_visit_documents_tax' | i18n }}</span
          ><br />
          <span class="font-weight-400 italic d-block"
            >{{ 'plan_visit_documents_tax_fees' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_documents_tax_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check22"
          id="check22" />
        <label class="form-check-label cursor-pointer" for="check22"
          ><span class="bold d-block"
            >{{ 'plan_visit_documents_military' | i18n }}</span
          >
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_documents_military_agency' | i18n }}
          </div></label
        >
      </div>
      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_insurance_section' | i18n }}</h2>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check23"
          id="check23" />
        <label class="form-check-label cursor-pointer" for="check23"
          ><span class="bold">{{ 'plan_visit_insurance_claims' | i18n }}</span>
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">
              {{ 'plan_visit_insurance_claims_delays' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_insurance_claims_expenses' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_insurance_claims_disputes' | i18n }}
            </li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_insurance_claims_agency' | i18n }}
          </div>
        </label>
      </div>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_employment_section' | i18n }}</h2>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check24"
          id="check24" />
        <label class="form-check-label cursor-pointer" for="check24"
          ><span class="bold"
            >{{ 'plan_visit_employment_benefits' | i18n }}</span
          >
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">
              {{ 'plan_visit_employment_benefits_unemployment' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_employment_benefits_disability' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_employment_benefits_jobs' | i18n }}
            </li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_employment_benefits_agency' | i18n }}
          </div>
        </label>
      </div>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_taxes_section' | i18n }}</h2>
      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check25"
          id="check25" />
        <label class="form-check-label cursor-pointer" for="check25"
          ><span class="bold">{{ 'plan_visit_taxes_help' | i18n }}</span>
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">{{ 'plan_visit_taxes_help_relief' | i18n }}</li>
            <li class="m-t">{{ 'plan_visit_taxes_help_address' | i18n }}</li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_taxes_help_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check26"
          id="check26" />
        <label class="form-check-label cursor-pointer" for="check26"
          ><span class="bold">{{ 'plan_visit_taxes_relief' | i18n }}</span
          ><br />
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_taxes_relief_agency' | i18n }}
          </div>
        </label>
      </div>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_rebuilding_section' | i18n }}</h2>

      <p>{{ 'plan_visit_rebuilding_section_description' | i18n | safe }}</p>

      <hr class="m-y-md" />
      <h2>{{ 'plan_visit_business_section' | i18n }}</h2>
      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check36"
          id="check36" />
        <label class="form-check-label  cursor-pointer" for="check36"
          ><span class="bold">{{ 'plan_visit_business_taxes' | i18n }}</span>
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">
              {{ 'plan_visit_business_taxes_items_1' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_business_taxes_items_2' | i18n }}
            </li>
            <li class="m-t">
              {{ 'plan_visit_business_taxes_items_3' | i18n }}
            </li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_business_taxes_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check37"
          id="check37" />
        <label class="form-check-label cursor-pointer" for="check37"
          ><span class="bold">{{ 'plan_visit_business_income' | i18n }}</span
          ><br />
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_business_income_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check38"
          id="check38" />
        <label class="form-check-label cursor-pointer" for="check38"
          ><span class="bold">{{ 'plan_visit_business_payroll' | i18n }}</span
          ><br />
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_business_payroll_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check39"
          id="check39" />
        <label class="form-check-label cursor-pointer" for="check39"
          ><span class="bold">{{ 'plan_visit_business_records' | i18n }}</span
          ><br />
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_business_records_agency' | i18n }}
          </div>
        </label>
      </div>

      <div class="form-check m-b">
        <input
          class="form-check-input brd-gray-700 brd-solid-2 rounded-3"
          type="checkbox"
          value=""
          name="check40"
          id="check40" />
        <label class="form-check-label cursor-pointer" for="check40"
          ><span class="bold">{{ 'plan_visit_business_help' | i18n }}</span
          ><br />
          <ul class="m-b-0 font-weight-400">
            <li class="m-t">{{ 'plan_visit_business_help_items_1' | i18n }}</li>
            <li class="m-t">{{ 'plan_visit_business_help_items_2' | i18n }}</li>
            <li class="m-t">{{ 'plan_visit_business_help_items_3' | i18n }}</li>
          </ul>
          <div
            class="font-weight-400 italic section-understated brd-solid-1 brd-gray-200 p-x py-1 rounded-10 font-size-14 m-t d-inline-block">
            {{ 'plan_visit_business_help_agency' | i18n }}
          </div>
        </label>
      </div>
    </div>
    <!--END MAIN COL CONTENT-->
  </div>
</div>

<script>
  document.getElementById("share-this-page").addEventListener("click", function(e) {
    // get page url
    let page_url = window.location.href;
    // convert to shareable url
    let share_url = page_url + "?share=true";
    // Create proper ShareData object
    navigator.share({
      title: 'LA Fires Map',
      text: 'Check out these LA Fires resources',
      url: share_url
    }).catch(err => {
      console.error('Share failed:', err.message);
    });
    e.preventDefault();
  });

  // Save checkbox state to local storage
  document.addEventListener("DOMContentLoaded", () => {
    const storageId = "plan-your-in-person-visit-checkboxStates";
    /** @type {NodeListOf<HTMLInputElement>} */
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    function saveCheckboxState() {
      const checkedIds = [...checkboxes]
        .filter(checkbox => checkbox.checked)
        .map(x => x.id);

      localStorage.setItem(storageId, JSON.stringify(checkedIds));
    }

    function loadCheckboxState() {
      /** @type {string[]} */
      const checkedIds = JSON.parse(localStorage.getItem(storageId)) || [];

      checkboxes.forEach(checkbox => {
        const checked = checkedIds.includes(checkbox.id);

        if (checkbox.checked !== checked) {
          checkbox.checked = checked;
        }
      });
    }
    loadCheckboxState();

    checkboxes.forEach(checkbox => {
      checkbox.addEventListener("change", saveCheckboxState);
    });
  });
</script>
