<style>
  .list-unstyled li:last-child {
    border-bottom: none !important;
  }
  @media print {
    body {
      margin: 0 !important;
      padding: 0 !important;
    }
    body .lineart {
      color: #000 !important;
      background-color: #fff !important;
    }

    body div.container {
      width: 100% !important;
      max-width: 100% !important;
      padding: 0 !important;
    }
    .col-lg-9, .col-lg-10 {
      float: none;
      width: 100%;
    }

    /* dislay none */
     .branding, .breadcrumbs {display: none !important;}

    /* Print typography */

    body .lineart h1.color-white {
      color: #000 !important;
      font-size: 37px;
      border-bottom: 1px solid var(--gray-300) !important;
      padding-bottom: 16px !important;
      line-height: 30px !important;
      margin-top: 20px !important;
      font-weight: 600 !important;
    }

    body .lineart h1.color-white span.color-white {
      color: #000 !important;
      font-size: 16px !important;
      font-weight: 400;
      color: var(--color-p2-darker) !important;

    }

    h2, .h2 {
      font-size: 29px !important;
      margin-bottom: 0 !important;
      margin-top: 24px !important;
    }

    h3, .h3 {
      font-size: 23px !important;
      margin-bottom: 0 !important;
      margin-top: 24px !important;
    }

    h4, .h4 {
      font-size: 16px !important;
      margin-bottom: 0 !important;
      margin-top: 23px !important;
    }

    p.small, h5, .h5 {
      font-size: 14px !important;
      font-weight: 400 !important;
      margin-bottom: 4px !important;
    }

    .h6 a.bg-gray-100-hover {
      font-weight: 700 !important;
    }

    .department {
      font-size: 14px !important;
      font-weight: 400 !important;
    }

    ul.list-unstyled {
      list-style: disc !important;
      padding-left: 20px !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    ul.list-unstyled li {
      list-style: disc !important;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      line-height: 20px !important;
      font-size: 14px !important;
    }

    ul.list-unstyled li a {
      font-size: 14px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      text-decoration: none !important;
      color: var(--gray-900) !important;
    }

    ul.list-unstyled li a span.external-link-icon{
      display: none !important;
    }

    ul.list-unstyled li a::after {
      content: " (" attr(href) ")";
      font-size: 12px;
      font-weight: 400 !important;
      color: var(--gray-900);
      margin-left: 5px;
    }

    /* layout */
    div.bg-white {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    div.alert {
      padding-top: 0 !important;
      padding-bottom: 20px !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      border-bottom: 1px solid #b7b7b7 !important;
    }

    .bg-gray-100 {
      background: #fff !important;
    }
    .brd-solid-1 {
      border: none !important;
    }

    li.border-bottom {
      border-bottom: none !important;
    }

    .cagov-logo.d-print-none {
      display: block !important;
      margin-bottom: 16px !important;

    }

    .global-footer {
      border-top: none !important;
    }

    .copyright.text-right {
      border-top: 1px solid var(--gray-300) !important;
      text-align: left !important;
    }


  }
</style>
<div
  class="section-primary lineart bg-p2"
  style="background: url('/lafires/images/recovery-finder-lineart.svg?v3fejhb') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-md color-white">
        {{ 'sf_h1_title' | i18n }}<br />
        <span class="font-size-30 color-white font-weight-400 m-b-md"
          >{{ 'sf_h1_subtitle' | i18n }}</span
        >
      </h1>

      <a
        href="{{ '/lafires/help-for-you/' | localizedPath }}"
        class="color-white d-print-none"
        ><span
          class="ca-gov-icon-caret-left d-inline-block no-underline font-size-20"
          aria-hidden="true"></span
        >{{ 'sf_back_link' | i18n }}</a
      >
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container p-y-lg">
  <div class="row">
    <!-- Sidebar Navigation -->

    <!-- Main Content Area -->
    <div class="col-lg-10 pt-lg-3">
      <p class="lead d-print-none">{{ 'sf_lead_text' | i18n }}</p>

      <p class="mb-5 d-flex gap-2 gap-md-4 align-items-center d-print-none">
        <button
          class="btn btn-primary rounded-4 pe-1 pe-sm-4 ps-1 ps-sm-3"
          data-bs-toggle="modal"
          data-bs-target="#share-plan">
          <img
            src="/lafires/images/icon-share-plan.svg"
            alt=""
            class="img-fluid 
            height-20 d-print-none"
            aria-hidden="true" />
          {{ 'sf_share_button' | i18n }}
        </button>
        <button
          class="d-print-none btn btn-outline-primary rounded-4 brd-solid-2 pe-1 pe-sm-4 ps-1 ps-sm-3"
          onclick="window.print(); return false;">
          <img
            src="/lafires/images/icon-print.svg"
            alt=""
            class="img-fluid 
          height-20 d-print-none"
            aria-hidden="true" />
          {{ 'sf_print_button' | i18n }}
        </button>

        <a
          href="{{ '/lafires/recovery-services-finder/' | localizedPath }}"
          class="clearVars d-print-none"
          >{{ 'sf_create_link_text' | i18n }}</a
        >
      </p>
      {%- for audience_type in service_finder_data %}

      <!---->
      {%- for service_type in audience_type.children_service_types %}

      <div data-service-type="{{service_type.fields.ID}}">
        <h2 class="color-p2-darker">
          {{ ("sf_audience_type_" + audience_type.fields["Audience ID"] +
          "_label") | i18n }} -
          <!---->
          {{ ("sf_service_type_" + service_type.fields["Service Type ID"] +
          "_label") | i18n }}
        </h2>

        {%- for category in service_type.children_categories %}

        <div
          data-service-type="{{service_type.fields.ID}}"
          data-service-category-id="{{category.fields.ID}}">
          <h3>
            {{ ("sf_cat_" + category.fields["Category ID"] + "_label") | i18n }}
          </h3>

          <div class="row">
            {%- for service in category.children_services -%}
            <!---->
            {%- set item = service.fields -%}
            <div
              class="col-lg-6 alert"
              data-service-category-id="{{category.fields.ID}}"
              data-service-id="{{item.ID}}">
              <div
                class="bg-white p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
                <div class="d-flex gap-2">
                  {% if item["Specific disaster"] %}
                  <div
                    class="font-size-14 m-b-0 m-t-0 pos-rel top-md align-items-center bg-s1 d-flex rounded-pill p-x">
                    {{ item["Specific disaster"] }}
                  </div>
                  {% endif %}
                  <button
                    type="button"
                    class="btn-close ms-auto bg-gray-100 rounded-circle pos-rel top-md p-a-sm"
                    data-service-id="{{item.ID}}"
                    aria-label="Close"></button>
                </div>

                <h4 class="m-b-sm">
                  {{ ("sf_" + item.ID + "_service_name") | i18n }}
                </h4>

                <p class="department font-size-14 color-p2 font-weight-600">
                  {{ ("sf_" + item.ID + "_entity") | i18n }}
                </p>
                <p class="small">
                  {{ ("sf_" + item.ID + "_description") | i18n }}
                </p>

                <h5 class="m-t-0">{{ 'sf_how_to_get_this_service' | i18n }}</h5>

                <ul class="list-unstyled m-b-0">
                  {%- if item.Service_link -%}
                  <li class="h6 font-weight-400 m-a-0">
                    <a
                      href="{{item.Service_link}}"
                      class="p-a-sm d-flex bg-gray-75 bg-gray-100-hover w-100"
                      >{{ 'sf_online' | i18n }}<img
                        src="/lafires/images/laptop-icon.svg"
                        alt=""
                        class="img-fluid ms-auto width-30 d-print-none"
                        aria-hidden="true"
                    /></a>
                  </li>
                  {%- endif -%} {%- if item.Info_link -%}
                  <li
                    class="border-bottom brd-gray-200 h6 font-weight-400 m-a-0">
                    <a href="{{item.Info_link}}" class="p-a-sm d-inline-block"
                      >{{ 'sf_learn_more' | i18n }}</a
                    >
                  </li>
                  {%- endif -%} {%- if item.In_person_kiosk -%}
                  <li
                    class="border-bottom brd-gray-200 h6 font-weight-400 m-a-0">
                    <a
                      href="{{item.In_person_kiosk_}}"
                      class="p-a-sm d-inline-block"
                      >{{ 'sf_in_person' | i18n }}</a
                    >
                  </li>
                  {%- endif -%}{%- if item.Phone -%}
                  <li
                    class="border-bottom brd-gray-200 h6 font-weight-400 m-a-0">
                    <a href="tel:{{item.Phone}}" class="p-a-sm d-inline-block"
                      >{{item.Phone}}</a
                    >
                  </li>
                  {%- endif -%}{%- if item.Email -%}
                  <li
                    class="border-bottom brd-gray-200 h6 font-weight-400 m-a-0">
                    <a
                      href="mailto:{{item.Email}}"
                      class="p-a-sm d-inline-block"
                      >{{ 'sf_email' | i18n }}</a
                    >
                  </li>
                  {%- endif -%}{%- if item.Mail -%}
                  <li class="m-a-0">
                    <pre
                      class="bg-white heading border-0 p-a-sm h6 font-weight-400 m-a-0">
{{item.Mail}}</pre
                    >
                  </li>
                  {%- endif -%}
                </ul>
              </div>
            </div>
            {%- endfor -%}
          </div>
        </div>
        {%- endfor -%}
      </div>
      {%- endfor -%}

      <!---->
      {%- endfor -%}

      <div class="bg-gray-100 mt-5 px-4 p-b brd-solid-1 brd-gray-200 p-t-md">
        <p class="color-primary d-print-none">
          {{ 'sf_navigator_text' | i18n | safe }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="share-plan"
  role="dialog"
  tabindex="-1"
  aria-labelledby="sharePlanTitle">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-b-md">
      <div class="modal-header p-t-0">
        <h3 id="sharePlanTitle" class="modal-title color-p2">
          {{'sf_modal-title' | i18n }}
        </h3>
        <button
          type="button"
          class="close btn btn-secondary border-0 rounded-pill bg-white bg-gray-100-hover pos-rel top-minus-5 right-minus-sm shadow-none p-t-0 p-b-0 p-l-sm p-r-sm"
          data-bs-dismiss="modal">
          <span class="sr-only">{{'sf_close_modal' | i18n }}</span>
          <span
            class="ca-gov-icon-close-mark font-size-30"
            aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="brd-solid-2 brd-primary d-flex rounded-5">
          <input
            type="text"
            id="url-copy"
            class="bg-transparent border-0 m-y-0 p-x-0 p-l p-r-sm overflow-hidden w-100" />

          <button
            id="share-plan-copy"
            class="btn btn-primary rounded-0 p-x m-t-0 ms-auto d-flex text-nowrap">
            <span class="ca-gov-icon-copy" aria-hidden="true"></span>
            <div class="m-l-sm">{{'sf_copy_link_text' | i18n }}</div>
          </button>

          <button
            hidden
            aria-hidden="true"
            id="share-plan-copied"
            class="btn btn-primary rounded-0 p-x m-t-0 ms-auto d-flex text-nowrap d-none">
            <span class="ca-gov-icon-check-mark" aria-hidden="true"></span>
            <div class="m-l-sm">{{'sf_link_copied' | i18n }}</div>
          </button>
        </div>

        <a
          id="share-plan-mailto"
          data-mail-subject="{{'sf_email_plan_subject' | i18n }}"
          data-mail-body="{{'sf_email_plan_body' | i18n }}"
          class="btn btn-outline-primary brd-solid-2 rounded-5 m-t d-flex align-items-center fit-content p-r-md">
          <img
            src="/lafires/images/icon-email.svg"
            alt=""
            class="img-fluid 
            height-30 d-print-none m-r"
            aria-hidden="true" />
          {{'sf_email_plan' | i18n }}
        </a>
      </div>
    </div>
  </div>
</div>

{%- set js -%}{%- include "./recovery-services-finder-results.html.js" -%}{%-
endset -%}
<script>
  {{- js | jsmin | safe }}
</script>
