<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/documents-lineart.svg?v23fds') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">
      <nav class="side-navigation sticky-6">
        <a href="javascript:;" aria-hidden="true" class="d-none">{{title}}</a>
        <ul class="list-navigation">
          <li>
            <a href="{{ '/lafires/' | localizedPath }}" class="font-weight-700"
              ><span class="color-p2"
                >{{ 'sidenav_2025_los_angeles_fires'| i18n }}</span
              ></a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/' | localizedPath }}"
              class="landing back"
              >{{ 'sidenav_help_for_you'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/food-and-shelter/' | localizedPath }}"
              >{{ 'sidenav_food_and_shelter'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/health-and-safety/' | localizedPath }}"
              >{{ 'sidenav_health_and_safety'| i18n }}</a
            >
          </li>
          <li>
            <a href="{{ '/lafires/help-for-you/pets/' | localizedPath }}"
              >{{ 'sidenav_pets'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/financial-assistance/' | localizedPath }}"
              >{{ 'sidenav_financial_assistance'| i18n }}</a
            >
          </li>

          <li>
            <a
              href="{{ '/lafires/help-for-you/replace-personal-documents/' | localizedPath }}"
              class="active"
              >{{ 'sidenav_documents'| i18n }}</a
            >
            <ul>
              <li>
                <a
                  href="{{ '/lafires/help-for-you/replace-personal-documents/birth-death-marriage-certificates/' | localizedPath }}"
                  >{{ 'sidenav_birth_death_marriage_certificates'| i18n }}</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/rebuild-your-house/' | localizedPath }}"
              >{{ 'sidenav_rebuild_your_house'| i18n }}</a
            >
          </li>
          <li>
            <a
              href="{{ '/lafires/help-for-you/get-help-in-person/' | localizedPath }}"
              >{{ 'sidenav_get_help_in_person'| i18n }}</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">
        {{ 'replace_documents_description_page' | i18n }}
      </p>

      <nav class="page-navigation"></nav>

      <div class="bg-gray-100 p-a-md m-t-md m-b-md d-flex align-items-top">
        <div>
          <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
        </div>
        <p class="color-p2-darker m-b-0">
          {{ 'replace_documents_card_1' | i18n | safe }}
        </p>
      </div>

      <h2>{{ 'replace_documents_licenses_and_ids' | i18n }}</h2>
      <ul>
        <li class="m-t">
          <a
            href="https://www.dmv.ca.gov/portal/driver-licenses-identification-cards/replace-your-driver-license-or-identification-dl-id-card/">
            {{'replace_documents_licenses_and_ids_list_1' | i18n }}
          </a>
          {{'replace_documents_licenses_and_ids_list_1_caveat' | i18n }}
        </li>
        <li class="m-t">
          <a href="https://www.ssa.gov/number-card/replace-card"
            >{{ 'replace_documents_licenses_and_ids_list_2' | i18n }}</a
          >
        </li>
        <li class="m-t">
          <a
            href="https://travel.state.gov/content/travel/en/passports/have-passport.html"
            >{{ 'replace_documents_licenses_and_ids_list_3' | i18n }}</a
          >
        </li>
        <li class="m-t">
          <a href="https://idco.dmdc.osd.mil/idco/"
            >{{ 'replace_documents_licenses_and_ids_list_4' | i18n }}</a
          >
        </li>
      </ul>

      <h2>{{ 'replace_documents_vital_records' | i18n }}</h2>
      <ul>
        <li class="m-t">
          <a
            href="{{ '/lafires/help-for-you/replace-personal-documents/birth-death-marriage-certificates/' | localizedPath }}"
            >{{ 'replace_documents_vital_records_list_1' | i18n }}</a
          >
        </li>
        <li class="m-t">
          <a href="https://www.cdc.gov/nchs/w2w/index.htm"
            >{{ 'replace_documents_vital_records_list_2' | i18n }}</a
          >
        </li>
      </ul>

      <h2>{{ 'replace_documents_immigration' | i18n }}</h2>
      <ul>
        <li class="m-t">
          <a href="https://www.uscis.gov/n-565"
            >{{ 'replace_documents_immigration_list_1' | i18n }}</a
          >
        </li>
        <li class="m-t">
          <a
            href="https://www.uscis.gov/green-card/after-we-grant-your-green-card/replace-your-green-card"
            >{{ 'replace_documents_immigration_list_2' | i18n }}</a
          >
        </li>
      </ul>

      <h2>{{ 'replace_documents_vehicle' | i18n }}</h2>
      <ul>
        <li class="m-t">
          <a
            href="https://www.dmv.ca.gov/portal/dmv-virtual-office/replacement-title/"
            >{{ 'replace_documents_vehicle_list_1' | i18n }}</a
          >
          {{ 'replace_documents_vehicle_list_1_caveat' | i18n }}
        </li>
        <li class="m-t">
          <a
            href="https://www.hcd.ca.gov/manufactured-and-mobilehomes/registration-and-titling/forms"
            >{{ 'replace_documents_vehicle_list_2' | i18n }}</a
          >
        </li>
      </ul>
      <p>{{ 'replace_documents_vehicle_description' | i18n | safe }}</p>

      <h2 class="h4">{{ 'replace_documents_related' | i18n }}</h2>
      <ul>
        <li class="m-t">
          <a
            href="{{ '/lafires/help-for-you/financial-assistance/' | localizedPath }}#Taxes"
            >{{ 'replace_documents_related_list_1' | i18n }}</a
          >
        </li>
        <li class="m-t">
          <a
            href="{{ '/lafires/help-for-you/financial-assistance/' | localizedPath }}#Insurance"
            >{{ 'replace_documents_related_list_2' | i18n }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
