<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/info-lineart.svg?v3grhb') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >2025 Los Angeles Fires</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{description}}</p>

      <nav class="page-navigation"></nav>

      <h2 class="m-b-0">Alerts</h2>

      <div class="row">
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.listoscalifornia.org/alerts/"
                class="color-p2 text-left d-block"
                >Get emergency alerts</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from Listos California
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://news.caloes.ca.gov/"
                class="color-p2 text-left d-block"
                >Latest news</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from California Governor’s Office of Emergency Services (Cal OES)
            </p>
          </div>
        </div>

        <h2 class="m-b-0 m-t-md">Roads</h2>
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-left p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://quickmap.dot.ca.gov/"
                class="color-p2 text-left d-block"
                >Road closures and conditions
              </a>
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from CalTrans
            </p>
            <ul class="m-t">
              <li>
                <a href="https://roads.dot.ca.gov/?roadnumber=SR1"
                  >Pacific Coast Highway closures (SR1)</a
                >
              </li>
              <li>
                <a href="https://roads.dot.ca.gov/?roadnumber=27">
                  Topanga Canyon Road closures (SR27)</a
                >
              </li>
              <li>
                <a href="https://dpw.lacounty.gov/roadclosures/">
                  Other road closures</a
                >
              </li>
            </ul>
          </div>
        </div>

        <h2 class="m-b-0 m-t-md">Power</h2>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.sce.com/outage-center/outage-information/psps"
                class="color-p2 text-left d-block"
                >Power shutoffs</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from Southern California Edison
            </p>
          </div>
        </div>
      </div>

      <h2 class="m-b-0 m-t-md">Environment</h2>

      <div class="row">
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.aqmd.gov/redirect/aqimap?id=3d51b5d2fc8d42d9af8c04f3c00f88d3"
                class="color-p2 text-left d-block"
                >Air quality</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from South Coast Air Quality Monitoring District
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.waterboards.ca.gov/losangeles/water_issues/programs/2025_post_fire/index.html"
                class="color-p2 text-left d-block"
                >Water quality
              </a>
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from the Los Angeles Regional Water Quality Control Board
            </p>
          </div>
        </div>
      </div>

      <h2>Evacuations</h2>

      <div class="row">
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://ready.lacounty.gov/emergency-notifications/"
                class="color-p2 text-left d-block"
                >Get evacuation notices</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from Ready LA County
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://readyforwildfire.org/prepare-for-wildfire/go-evacuation-guide/"
                class="color-p2 text-left d-block"
                >Tips for evacuating safely</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              from CAL FIRE
            </p>
          </div>
        </div>
      </div>

      <h2 class="m-t-md">Price gouging</h2>

      <p>
        <!-- If businesses raise
        prices more than 10% during or after an emergency, it may be illegal
        price gouging. This also applies to rent prices. -->
        If businesses raise prices more than 10% during or after an emergency, it may be illegal price gouging. This also applies to rent prices.
      </p>

      <p>
        <!-- <a href="https://dcba.lacounty.gov/portfolio/price-gouging/">
          Learn more about price gouging</a
        >
        from Los Angeles County.  -->
        <a href="https://dcba.lacounty.gov/portfolio/price-gouging/">Learn more about price gouging</a> from Los Angeles County.
      </p>

      <p>
        <!-- If you suspect a business is price gouging: -->
        If you suspect a business is price gouging:
      </p>
      <ul>
        <li>
          <a
            href="https://dcba.3diengage.com/FrontPortal/Page/RenderPage?tabId=27&searchParameter=srTypeId%3D17">
            <!-- File a complaint with Los Angeles County -->
            File a complaint with Los Angeles County
          </a>
        </li>
        <li>
          <a href="https://cityoflaprod.service-now.com/pgc">
            <!-- File a complaint with the City of Los Angeles -->
            File a complaint with the City of Los Angeles
          </a>
        </li>
      </ul>

      <!--END MAIN COL CONTENT-->
    </div>
  </div>
</div>
