<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/info-lineart.svg?v3grhb') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{description}}</p>

      <nav class="page-navigation"></nav>

      <h2 class="m-b-0">{{ 'realtime_real_time_updates_heading' | i18n }}</h2>

      <div class="row">
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.listoscalifornia.org/alerts/"
                class="color-p2 text-left d-block"
                >{{ 'realtime_emergency_alerts_heading' | i18n }}</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_listos_california_description' | i18n }}
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://news.caloes.ca.gov/"
                class="color-p2 text-left d-block"
                >{{ 'realtime_latest_news_heading' | i18n }}</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_latest_news_description' | i18n }}
            </p>
          </div>
        </div>

        <h2 class="m-b-0 m-t-md">{{ 'realtime_roads_heading' | i18n }}</h2>
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-left p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://quickmap.dot.ca.gov/"
                class="color-p2 text-left d-block"
                >{{ 'realtime_roads_card_title' | i18n }}
              </a>
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_roads_card_department' | i18n }}
            </p>
            <ul class="m-t">
              <li>
                <a href="https://roads.dot.ca.gov/?roadnumber=SR1"
                  >{{ 'realtime_roads_card_list_1' | i18n }}</a
                >
              </li>
              <li>
                <a href="https://roads.dot.ca.gov/?roadnumber=27">
                  {{ 'realtime_roads_card_list_2' | i18n }}</a
                >
              </li>
              <li>
                <a href="https://dpw.lacounty.gov/roadclosures/">
                  {{ 'realtime_roads_card_list_3' | i18n }}</a
                >
              </li>
            </ul>
          </div>
        </div>

        <h2 class="m-b-0 m-t-md">{{ 'realtime_power_heading' | i18n }}</h2>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.sce.com/outage-center/outage-information/psps"
                class="color-p2 text-left d-block"
                >{{ 'realtime_power_shutoffs_heading' | i18n }}</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_power_shutoffs_description' | i18n }}
            </p>
          </div>
        </div>
      </div>

      <h2 class="m-b-0 m-t-md">{{ 'realtime_environment_heading' | i18n }}</h2>

      <div class="row">
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.aqmd.gov/redirect/aqimap?id=3d51b5d2fc8d42d9af8c04f3c00f88d3"
                class="color-p2 text-left d-block"
                >{{ 'realtime_air_quality_card_heading' | i18n }}</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_air_quality_card_description' | i18n }}
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://waterforla.lacounty.gov/water-alerts/"
                class="color-p2 text-left d-block"
                >{{ 'realtime_water_quality_card_heading' | i18n }}
              </a>
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_water_quality_card_description' | i18n }}
            </p>
          </div>
        </div>
      </div>

      <h2>{{ 'realtime_evacuations_heading' | i18n }}</h2>

      <div class="row">
        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://ready.lacounty.gov/emergency-notifications/"
                class="color-p2 text-left d-block"
                >{{ 'realtime_evacuation_notices_heading' | i18n }}</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_evacuation_notices_description' | i18n }}
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://readyforwildfire.org/prepare-for-wildfire/go-evacuation-guide/"
                class="color-p2 text-left d-block"
                >{{ 'realtime_evacuation_tips_heading' | i18n }}</a
              >
            </h3>
            <p class="text-sm font-size-15 text-left gray-600">
              {{ 'realtime_evacuation_tips_description' | i18n }}
            </p>
          </div>
        </div>
      </div>

      <h2 class="m-t-md">{{ 'realtime_price_gouching_heading' | i18n }}</h2>

      <p>
        <!-- If businesses raise
        prices more than 10% during or after an emergency, it may be illegal
        price gouging. This also applies to rent prices. -->
        {{ 'realtime_price_gouching_description_1' | i18n }}
      </p>

      <p>
        <!-- <a href="https://dcba.lacounty.gov/portfolio/price-gouging/">
          Learn more about price gouging</a
        >
        from Los Angeles County.  -->
        {{ 'realtime_price_gouching_description_2' | i18n | safe }}
      </p>

      <p>
        <!-- If you suspect a business is price gouging: -->
        {{ 'realtime_price_gouching_description_3' | i18n }}
      </p>
      <ul>
        <li>
          <a
            href="https://dcba.3diengage.com/FrontPortal/Page/RenderPage?tabId=27&searchParameter=srTypeId%3D17">
            <!-- File a complaint with Los Angeles County -->
            {{ 'realtime_price_gouching_list_1' | i18n }}
          </a>
        </li>
        <li>
          <a href="https://cityoflaprod.service-now.com/pgc">
            <!-- File a complaint with the City of Los Angeles -->
            {{ 'realtime_price_gouching_list_2' | i18n }}
          </a>
        </li>
      </ul>

      <!--END MAIN COL CONTENT-->
    </div>
  </div>
</div>
