<aside class="p-b-md p-t-sm section-standout site-footer d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          {{ 'about' | i18n }}
        </div>
        <a
          href="https://www.ca.gov/about/about-this-website/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'about_this_website' | i18n }}</a
        >
        <a
          href="https://calcareers.ca.gov/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'state_careers' | i18n }}</a
        >
        <a
          href="https://data.ca.gov/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'california_data' | i18n }}</a
        >
      </div>
      <div class="col-md-3">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          {{ 'support' | i18n }}
        </div>
        <a
          href="https://www.sco.ca.gov/ppsd_cpod.html"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'state_directory' | i18n }}</a
        >
        <a
          href="https://www.ca.gov/support/technical-help/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'technical_help' | i18n }}</a
        >
        <a
          href="https://www.ca.gov/contact/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'contact' | i18n | safe }}</a
        >
      </div>
      <div class="col-md-3">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          {{ 'campaigns' | i18n }}
        </div>
        <a
          href="https://registertovote.ca.gov/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'register_to_vote' | i18n }}</a
        >
        <a
          href="https://saveourwater.com/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'save_our_water' | i18n }}</a
        >
        <a
          href="https://www.caiso.com/informed/Pages/Notifications/Default.aspx"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'flex_alert' | i18n }}</a
        >
      </div>
      <div class="col-md-3">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          {{ 'alerts' | i18n }}
        </div>
        <a
          href="https://www.chp.ca.gov/news-alerts/alerts/amber-alert/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'amber_alert' | i18n }}</a
        >
        <a
          href="https://calalerts.org/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'cal_alerts' | i18n }}</a
        >
        <a
          href="https://myhazards.caloes.ca.gov/"
          class="d-block no-underline m-y font-size-16 color-white color-highlight-hover underline-hover">
          {{ 'my_hazards' | i18n }}</a
        >
      </div>
    </div>

    <a
      href="https://www.ca.gov/website-accessibility-certification.html"
      class="no-underline font-size-14 d-block m-t-md color-white color-highlight-hover underline-hover"
      ><span class="ca-gov-icon-certificate" aria-hidden="true"></span> {{
      'website_accessibility_certification' | i18n }}</a
    >
  </div>
</aside>
