<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/recovery-lineart.svg?v3fehg') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{ 'recovery_lead_text' | i18n }}</p>

      <nav class="page-navigation"></nav>

      <div class="bg-gray-100 p-a-md m-t-sm d-flex align-items-top">
        <div>
          <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
        </div>
        <p class="color-p2-darker m-b-0">
          {{ 'recovery_document_note' | i18n | safe }}
        </p>
      </div>

      <h2>{{ 'recovery_returning_home_heading' | i18n }}</h2>
      <p>{{ 'recovery_assessment_info' | i18n }}</p>

      <p class="m-t-md">
        <a
          href="{{ '/lafires/accessing-your-property/' | localizedPath }}"
          class="btn btn-primary rounded-5 btn-lg"
          >{{ 'recovery_return_home_button_text' | i18n }}</a
        >
      </p>

      <h2 class="m-t-80">{{ 'recovery_insurance_heading' | i18n }}</h2>
      <p>{{ 'recovery_insurance_prompt' | i18n }}</p>

      <div class="row">
        <div class="col-lg-12 m-t-md">
          <div class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.insurance.ca.gov/01-consumers/140-catastrophes/MandatoryOneYearMoratoriumNonRenewals.cfm"
                class="color-p2 text-left d-block"
                >{{ 'recovery_california_protects_title' | i18n }}</a
              >
            </h3>

            <p class="m-b text-left">
              {{ 'recovery_california_protects_description' | i18n }}
            </p>
          </div>
        </div>
        <div class="col-lg-12 m-t-md">
          <div
            class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 pos-rel h-100 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.insurance.ca.gov/01-consumers/101-help/"
                class="color-p2 text-left d-block"
                >{{ 'recovery_get_help_claim_title' | i18n }}</a
              >
            </h3>

            <p class="m-b text-left">
              {{ 'recovery_get_help_claim_description' | i18n }}
            </p>
            <ul class="m-b-0">
              <li class="m-t">
                <a
                  href="https://www.insurance.ca.gov/01-consumers/140-catastrophes/WildfireResources.cfm"
                  >{{ 'recovery_get_help_claim_items_1' | i18n }}</a
                >
              </li>
              <li class="m-t">
                <a
                  href="https://www.insurance.ca.gov/01-consumers/140-catastrophes/TopTenTips_WildfireClaimants.cfm"
                  >{{ 'recovery_get_help_claim_items_2' | i18n }}</a
                >
              </li>
              <li class="m-t">
                <a href="https://www2.cslb.ca.gov/Consumer.aspx"
                  >{{ 'recovery_get_help_claim_items_3' | i18n }}</a
                >
              </li>
              <li class="m-t">
                <a
                  href="https://www.calvet.ca.gov/HomeLoans/Pages/How-to-submit-a-claim.aspx"
                  >{{ 'recovery_get_help_claim_items_4' | i18n }}</a
                >
              </li>
              <li class="m-t">
                {{ 'recovery_get_help_claim_items_5' | i18n | safe}}
              </li>
              <li class="m-t">
                {{ 'recovery_get_help_claim_items_6' | i18n }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h2>{{ 'recovery_rebuilding_heading' | i18n }}</h2>
      <p>{{ 'recovery_rebuilding_description' | i18n }}</p>
      <p class="m-t-md">
        <a
          href="{{ '/lafires/steps-to-rebuilding/' | localizedPath }}"
          class="btn btn-primary rounded-5 btn-lg"
          >{{ 'recovery_steps_to_rebuilding_button_text' | i18n }}</a
        >
      </p>

      <h2>{{ 'recovery_employment_heading' | i18n }}</h2>

      <div class="row">
        <div class="col-lg-12">
          <div class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              {{ 'recovery_cant_work_title' | i18n }}
            </h3>

            <p>{{ 'recovery_cant_work_description' | i18n }}</p>

            <ul>
              <li class="m-t">
                {{ 'recovery_cant_work_items_1' | i18n | safe}}
              </li>

              <li class="m-t">
                {{ 'recovery_cant_work_items_2' | i18n | safe}}
              </li>
              <li class="m-t">
                {{ 'recovery_cant_work_items_3' | i18n | safe}}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-12 m-t-md">
          <div class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              {{ 'recovery_looking_for_work_title' | i18n }}
            </h3>

            <p>{{ 'recovery_looking_for_work_description' | i18n }}</p>

            <ul>
              <li class="m-t">
                {{ 'recovery_looking_for_work_items_1' | i18n | safe}}
              </li>
              <li class="m-t">
                {{ 'recovery_looking_for_work_items_2' | i18n | safe}}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-12 m-t-md">
          <div class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              {{ 'recovery_cleanup_work_title' | i18n }}
            </h3>
            <p>{{ 'recovery_cleanup_work_description' | i18n }}</p>
            <ul>
              <li class="m-t">
                {{ 'recovery_cleanup_work_items_1' | i18n | safe}}
              </li>
              <li class="m-t">
                {{ 'recovery_cleanup_work_items_2' | i18n | safe}}
              </li>
            </ul>
          </div>
        </div>

        <h2 class="m-b-sm">{{ 'recovery_taxes_heading' | i18n }}</h2>

        <div class="row">
          <div class="col-lg-6 m-t-md">
            <div
              class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 pos-rel h-100 rounded">
              <h3 class="h5 m-t-md m-b">
                {{ 'recovery_income_tax_title' | i18n }}
              </h3>
              <p class="text-sm font-size-15 text-left gray-600 m-y-md">
                {{ 'recovery_income_tax_source' | i18n }}
              </p>
              <p>{{ 'recovery_income_tax_description' | i18n | safe}}</p>
            </div>
          </div>
          <div class="col-lg-6 m-t-md">
            <div
              class="bg-white p-x-md p-b-md brd-solid-1 brd-gray-200 pos-rel h-100 rounded">
              <h3 class="h5 m-t-md m-b">
                {{ 'recovery_property_tax_title' | i18n }}
              </h3>
              <p class="text-sm font-size-15 text-left gray-600 m-y-md">
                {{ 'recovery_property_tax_source' | i18n }}
              </p>
              <p>{{ 'recovery_property_tax_description' | i18n | safe}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--END MAIN COL CONTENT-->
    </div>
  </div>
</div>
