<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/volunteer-lineart.svg?v2') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
        >{{ 'title_2025_los_angeles_fires' | i18n  }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">
        {{ 'stay_healthy_lead_text' | i18n | safe }}
      </p>

      <nav class="page-navigation"></nav>

      <h2 class="m-b-0">
        {{ 'stay_healthy_air_safety_heading' | i18n  }}
      </h2>
      <p>
        {{ 'stay_healthy_understand_air_quality' | i18n | safe }}
      </p>

      <h3>
        {{ 'stay_healthy_outdoor_air_quality_heading' | i18n  }}
      </h3>

      <p>
        {{ 'stay_healthy_outdoor_air_quality' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_air_quality_monitoring' | i18n | safe }}
      </p>

      <h3>
        {{ 'stay_healthy_indoor_air_quality_heading' | i18n  }}
      </h3>

      <p>
        {{ 'stay_healthy_indoor_air_quality' | i18n | safe }}
      </p>

      <h2>
        {{ 'stay_healthy_water_safety_heading' | i18n }}
      </h2>
      <p>
        {{ 'stay_healthy_water_safety' | i18n | safe }}&nbsp;
      </p>
      <p>
        {{ 'stay_healthy_water_safety_notice' | i18n | safe }}
      </p>
      <ul>
        <li class="m-t">
          {{ 'stay_healthy_drinking' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_baby_formula' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_brushing_teeth' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_washing_dishes' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_making_ice' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_preparing_food' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_feeding_pets' | i18n | safe }}
        </li>
      </ul>

      <p>
        {{ 'stay_healthy_water_notice_lifted' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_beach_water_quality' | i18n | safe }}
      </p>

      <h2>
        {{ 'stay_healthy_staying_safe_at_home_heading' | i18n }}
      </h2>
      <p>
        {{ 'stay_healthy_staying_safe_at_home_description' | i18n | safe }}
      </p>
      <h3>
        {{ 'stay_healthy_clearing_hazardous_waste_heading' | i18n }}
      </h3>
      <p>
        {{ 'stay_healthy_clearing_hazardous_waste_description' | i18n | safe }}
      </p>
      <p>
        {{ 'stay_healthy_hazardous_waste_removal_description' | i18n | safe }}&nbsp;&nbsp;
      </p>
      <p>
        {{ 'stay_healthy_hazardous_waste_removal_notice_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_worker_safety_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_learn_more_description' | i18n | safe }}
      </p>

      <h3>
        {{ 'stay_healthy_ash_dust_and_debris_heading' | i18n }}
      </h3>
      <p>
        {{ 'stay_healthy_ash_dust_and_debris_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_sensitive_groups_description' | i18n | safe }}
      </p>
      <ul>
        <li class="m-t">
          {{ 'stay_healthy_people_with_heart_or_lung_disease' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_older_adults' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_pregnant_women' | i18n | safe }}
        </li>
        <li class="m-t">
          {{ 'stay_healthy_children' | i18n | safe }}
        </li>
        <li class="m-t">{{ 'stay_healthy_pets' | i18n | safe }}</li>
      </ul>
      <p>
        {{ 'stay_healthy_ash_dust_and_debris_clean_home' | i18n | safe }}&nbsp;
      </p>

      <p>
        {{ 'stay_healthy_ash_dust_and_debris_keep_ash_from_spreading' | i18n | safe }}
      </p>
      <ul>
        <li class="m-t">{{ 'stay_healthy_n_100_or_p_100_respirator' | i18n | safe }}</li>
        <li class="m-t">{{ 'stay_healthy_rubber_gloves' | i18n | safe }}</li>
        <li class="m-t">{{ 'stay_healthy_booties' | i18n | safe }}</li>
        <li class="m-t">{{ 'stay_healthy_long_sleeved_shirts' | i18n | safe }}</li>
        <li class="m-t">{{ 'stay_healthy_long_pants' | i18n | safe }}</li>
        <li class="m-t">{{ 'stay_healthy_socks_and_shoes' | i18n | safe }}</li>
        <li class="m-t">{{ 'stay_healthy_safety_goggles' | i18n | safe }}</li>
      </ul>
      <p>
        {{ 'stay_healthy_n95_masks_cannot_protect_from_asbestos' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_dealing_with_dust_and_debris_when_returning_home' | i18n | safe }}
      </p>
      <h2>
        {{ 'stay_healthy_health_and_wellness_heading' | i18n }}
      </h2>
      <h3>
        {{ 'stay_healthy_medical_help_heading' | i18n }}
      </h3>
      <p>
        {{ 'stay_healthy_medical_help_description' | i18n | safe}}
      </p>

      <p>
        {{ 'stay_healthy_get_help_in_person_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_health_insurance_description' | i18n | safe }}
      </p>
      <h3>
        {{ 'stay_healthy_mental_health_heading' | i18n }}
      </h3>
      <p>
        {{ 'stay_healthy_mental_health_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_calhope_warm_line_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_employee_assistance_program_description' | i18n | safe }}
      </p>
      <h2>
        {{ 'stay_healthy_benefits_for_disaster_injuries_heading' | i18n }}
      </h2>
      <p>
        {{ 'stay_healthy_benefits_for_disaster_injuries_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_disability_insurance_description' | i18n | safe }}
      </p>

      <p>
        {{ 'stay_healthy_paid_family_leave_description' | i18n | safe }}
      </p>
    </div>
  </div>
</div>
