<style>
  .dashboard-card {
    scroll-margin-top: 180px;

    & > :first-child {
      border-top-left-radius: var(--bs-border-radius);
      border-top-right-radius: var(--bs-border-radius);
    }
    & > :last-child {
      border-bottom-left-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
    }
  }

  details, details ul > li {
    margin-top: 0.5em;
  }

  details {
    ::-webkit-details-marker {
      display:none;
    }
  }

  details > summary {
    &:hover {
      color: var(--bs-primary-bg-subtle);
    }

    & > span[class*="icon"] {
      transition: rotate .2s;
      transform: translateX(-2px);
    }
  }

  details[open] span[class*="icon"] {
    rotate: 90deg;
  }

  .dashboard-card-heading {
    font-weight: 400;
  }

  .dashboard-card-grid {
    display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: min-content;
    align-items: start;
    column-gap: 1rem;
    row-gap: 1rem;
    font-variant-numeric: tabular-nums;
  }

  .dashboard-stat {
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.05em;
    font-size: 1.42857rem;
  }

  .dashboard-row {
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    .dashboard-stat {
      font-size: 1.78571rem;
    }

    .dashboard-row {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  @media (min-width: 1200px) {
    .dashboard-stat {
      font-size: 2.14286rem;
    }

    .dashboard-row.air-monitoring-row {
      max-width: 28%;
      flex-wrap: nowrap;
    }
  }

  .dashboard-water-container {
    container: dashboard-water / inline-size;
  }

  .dashboard-water {
    flex-direction: column;
    row-gap: .5rem;
  }

  @container dashboard-water (min-width: 500px) {
    .dashboard-water {
      row-gap: 0;
      flex-direction: row;
    }
  }

  .dashboard-progress {
    display: flex;
    --radius: 3px;
    flex-direction: row;
  }

  .dashboard-progress span {
    display: block;
    height: 1.25rem;
  }

  .dashboard-progress span:first-child {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  .dashboard-progress span:last-child {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }

  .dashboard-progress [data-fill="white"] {
    background: #fff;
  }

  .dashboard-progress [data-fill="light"] {
    background: #6EA9C4;
  }

  .dashboard-progress [data-fill="dark"] {
    background: #3B3A48;
  }
</style>

<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/bar-graph-lineart.svg') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">
        {{ 'track_progress_governor_website' | i18n | safe }}
      </p>
      <nav class="page-navigation"></nav>

      <div class="bg-gray-100 p-a-md m-t-md m-b-md d-flex align-items-top">
        <div>
          <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
        </div>
        <p class="color-p2-darker m-b-0">
          {{ 'track_progress_permits_card' | i18n | safe }}
        </p>
      </div>

      <!--People helped-->
      <div class="row m-b-lg">
        <h2 class="m-b-md">{{ 'track_progress_people_helped' | i18n }}</h2>
        <p>{{ 'track_progress_local_state_federal_help_at_centers' | i18n }}</p>

        <div class="col-lg-6 m-t-md">
          <div
            id="recovery-center-visits"
            class="dashboard-card rounded h-100 d-flex flex-column">
            <h3
              class="dashboard-card-heading font-size-20 line-height-1-2em m-0 p-x-md p-t-md p-b-sm bg-primary">
              {{ 'track_progress_at_disaster_recovery_centers' | i18n }}
            </h3>

            <div
              class="dashboard-card-grid bg-primary h-100 p-x-md p-b-md p-t-sm">
              <img
                src="/lafires/images/dashboard-house.svg"
                width="48"
                height="49"
                aria-hidden="true" />
              <div class="dashboard-row font-size-12 d-flex">
                <span class="dashboard-stat" id="people_helped_drc"></span>
                <span>{{ 'track_progress_visits' | i18n }}</span>
              </div>
            </div>

            <p class="font-size-12 bg-s1 p-a">
              <em
                >{{ 'track_progress_reported_by_fema' | i18n }}<br /><span
                  id="people_helped_drc_date"></span
              ></em>
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t-md">
          <div
            id="card-fema-assistance"
            class="dashboard-card rounded h-100 d-flex flex-column">
            <h3
              class="dashboard-card-heading font-size-20 line-height-1-2em m-0 p-x-md p-t-md p-b-sm bg-primary">
              {{ 'track_progress_by_fema_assistance' | i18n }}
            </h3>

            <div
              class="dashboard-card-grid bg-primary h-100 p-x-md p-b-md p-t-sm">
              <img
                src="/lafires/images/dashboard-crowd.svg"
                width="48"
                height="49"
                aria-hidden="true" />
              <div class="dashboard-row font-size-12 d-flex">
                <span
                  class="dashboard-stat"
                  id="people_helped_fema_individuals"></span>
                <span
                  >{{ 'track_progress_people_helped_lowercase' | i18n }}</span
                >
              </div>

              <img
                src="/lafires/images/dashboard-money.svg"
                width="48"
                height="49"
                aria-hidden="true" />
              <div class="dashboard-row font-size-12 d-flex">
                <span class="dashboard-stat"
                  >$<span id="people_helped_fema_funds"></span>M</span
                >
                <span
                  >{{ 'track_progress_distributed_to_individuals' | i18n
                  }}</span
                >
              </div>
            </div>

            <p class="font-size-12 bg-s1 p-a">
              <em
                >{{ 'track_progress_reported_by_fema' | i18n }}<br />
                <span id="people_helped_fema_individuals_date"></span
              ></em>
            </p>
          </div>
        </div>
      </div>

      <!--Schools reopened-->
      <div class="row m-b-lg">
        <h2 class="m-b-md">{{ 'track_progress_schools_reopened' | i18n }}</h2>
        <p>{{ 'track_progress_many_schools_in_fire_areas_damaged' | i18n }}</p>
        <div class="col-lg-6 m-t-md">
          <div
            id="card-schools-reopened"
            class="dashboard-card rounded h-100 d-flex flex-column">
            <h3
              class="dashboard-card-heading font-size-20 line-height-1-2em m-0 p-x-md p-t-md p-b-sm bg-primary">
              {{ 'track_progress_damaged_or_destroyed_public_schools' | i18n }}
            </h3>

            <div class="h-100 bg-primary">
              <div class="dashboard-card-grid p-x-md p-b-md p-t-sm">
                <img
                  src="/lafires/images/dashboard-backpack.svg"
                  width="49"
                  height="49"
                  aria-hidden="true"
                  style="grid-row: 1 / 4;" />
                <div class="dashboard-row font-size-12 d-flex">
                  <div class="d-flex gap-1 align-items-center">
                    <span class="dashboard-stat"
                      ><span id="schools_resumed_inperson"></span
                    ></span>
                    <span>{{ 'track_progress_of' | i18n }}</span>
                    <span class="dashboard-stat">8</span>
                  </div>
                  <span
                    >{{ 'track_progress_have_resumed_instruction' | i18n
                    }}</span
                  >
                </div>
                <div class="d-flex align-items-center gap-2">
                  <img
                    src="/lafires/images/dashboard-opt-in.svg"
                    width="23"
                    height="23"
                    aria-hidden="true" />
                  <p class="m-0 font-size-12">
                    {{ 'track_progress_teaching_in_person' | i18n }}
                    <span id="schools_resumed"></span>
                  </p>
                </div>
              </div>
            </div>

            <p class="font-size-12 bg-s1 p-a">
              <em
                >{{ 'track_progress_reported_to_schools_task_force' | i18n }}<br /><span
                  id="schools_resumed_date"></span
              ></em>
            </p>
          </div>
        </div>
      </div>

      <!--Properties cleaned up-->
      <div class="m-b-lg scroll-section" id="phases">
        <h2 class="m-b-md">
          {{ 'track_progress_properties_cleaned_up' | i18n }}
        </h2>
        <p>{{ 'track_progress_there_are_2_phases_of_cleanup' | i18n }}</p>
        <ul>
          <li class="m-t">
            <strong>{{ 'track_progress_phase_1' | i18n }}</strong>: {{
            'track_progress_epa_clears_household_hazardous_waste' | i18n }}
          </li>
          <li class="m-t">
            <strong>{{ 'track_progress_phase_2' | i18n }}</strong>: {{
            'track_progress_army_corps_clears_structural_debris' | i18n }}
          </li>
        </ul>

        <h3 class="m-t-md m-b d-flex flex-column">
          <span class="font-size-20"
            >{{ 'track_progress_phase_1' | i18n }}</span
          >
          <span class="font-size-25"
            >{{ 'track_progress_hazardous_household_waste_cleanup' | i18n
            }}</span
          >
        </h3>

        <div
          id="card-cleanup-phase-1"
          class="dashboard-card rounded h-100 d-flex flex-column m-b-md">
          <h4
            class="dashboard-card-heading font-size-20 line-height-1-2em m-0 p-x-md p-t-md p-b-sm bg-primary d-flex align-items-center gap-2">
            <img
              src="/lafires/images/dashboard-biohazard.svg"
              width="49"
              height="48"
              aria-hidden="true" />
            <span
              >{{ 'track_progress_hazardous_household_waste_cleanup_progress' |
              i18n }}</span
            >
          </h4>

          <div class="bg-primary h-100 p-x-md p-b-md p-t-sm">
            <div
              class="d-flex flex-row m-t font-size-12 justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="/lafires/images/dashboard-opt-in.svg"
                  width="23"
                  height="23"
                  aria-hidden="true" />
                <span>{{ 'track_progress_phase_1_complete' | i18n }}</span>
              </div>
              <span>100%</span>
            </div>

            <div class="dashboard-progress m-t-sm">
              <span data-fill="white" style="width: 100%"></span>
              <!-- <span data-fill="dark" style="width: 0%"></span> -->
            </div>

            <div class="dashboard-row font-size-12 d-flex">
              <span class="dashboard-stat"
                ><span id="cleanup_phase1_parcels"></span
              ></span>
              <span
                >{{ 'track_progress_parcels_completed_lowercase' | i18n }}</span
              >
            </div>
            <details class="font-size-12 m-t">
              <summary class="d-flex gap-2 align-items-center">
                <span class="ca-gov-icon-arrow-next" aria-hidden="true"></span>
                <span>{{ 'track_progress_data_notes' | i18n }}</span>
              </summary>
              <div class="p-l-sm">
                <ul>
                  <li>
                    {{ 'track_progress_epa_progress_dashboard' | i18n | safe}}
                  </li>
                  <li>
                    {{
                    'track_progress_complete_means_staff_finished_removing_hazardous_waste'
                    | i18n }}
                  </li>
                  <li>
                    {{
                    'track_progress_us_army_corps_of_engineers_will_clear_any_unsafe_properties_in_phase_2'
                    | i18n }}
                  </li>
                </ul>
              </div>
            </details>
          </div>
          <p class="font-size-12 bg-s1 p-a">
            <em
              >{{ 'track_progress_reported_by_epa' | i18n }}<br /><span
                id="cleanup_phase1_parcels_date"></span
            ></em>
          </p>
        </div>

        <h3 class="m-t-md m-b d-flex flex-column">
          <span class="font-size-20"
            >{{ 'track_progress_phase_2' | i18n }}</span
          >
          <span class="font-size-25"
            >{{ 'track_progress_structural_debris_removal' | i18n }}</span
          >
        </h3>

        <div
          id="card-cleanup-phase-2"
          class="dashboard-card rounded h-100 d-flex flex-column m-b">
          <h4
            class="dashboard-card-heading font-size-20 line-height-1-2em m-0 p-x-md p-t-md p-b-sm bg-primary d-flex align-items-center gap-2">
            <img
              src="/lafires/images/dashboard-file-check.svg"
              width="48"
              height="49"
              aria-hidden="true" />

            <span>{{ 'track_progress_right_of_entry_forms' | i18n }}</span>
          </h4>

          <div class="bg-primary h-100 p-x-md p-b-md p-t-sm">
            <div class="dashboard-row font-size-12 d-flex">
              <span class="dashboard-stat" id="cleanup_phase2_roe_submitted"
                >9,417</span
              >
              <span
                >{{ 'track_progress_right_of_entry_forms_submitted_to_la_county'
                | i18n }}</span
              >
            </div>

            <div
              class="m-l-lg m-t d-flex flex-column gap-3"
              style="font-variant-numeric: tabular-nums;">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="/lafires/images/dashboard-opt-in.svg"
                  width="23"
                  height="23"
                  aria-hidden="true" />
                <span class="font-size-12"
                  >{{ 'track_progress_opt_in' | i18n }}
                  <span id="cleanup_phase2_optin"></span
                ></span>
              </div>
              <div class="d-flex align-items-center gap-2">
                <img
                  src="/lafires/images/dashboard-opt-out.svg"
                  width="23"
                  height="23"
                  aria-hidden="true" />
                <span class="font-size-12"
                  >{{ 'track_progress_opt_out' | i18n }}
                  <span id="cleanup_phase2_optout"></span
                ></span>
              </div>
            </div>
          </div>
          <p class="font-size-12 bg-s1 p-a">
            <em
              >{{ 'track_progress_reported_by_la_county' | i18n }}<br /><span
                id="cleanup_phase2_roe_submitted_date"></span
            ></em>
          </p>
        </div>

        <div
          id="card-cleanup-phase-2-b"
          class="dashboard-card rounded h-100 d-flex flex-column">
          <h4
            class="dashboard-card-heading font-size-20 line-height-1-2em m-0 p-x-md p-t-md p-b-sm bg-primary d-flex align-items-center gap-2">
            <img
              src="/lafires/images/dashboard-shovel.svg"
              width="47"
              height="46"
              aria-hidden="true" />

            <span
              >{{ 'track_progress_structural_debris_removal_progress' | i18n
              }}</span
            >
          </h4>

          <div class="bg-primary h-100 p-x-md p-b-md p-t-sm">
            <div class="dashboard-row font-size-12 d-flex">
              <span class="dashboard-stat"
                ><span id="phase2_roes_accepted"></span
              ></span>
              <span
                >{{
                'track_progress_parcels_have_been_accepted_for_phase_2_debris_removal'
                | i18n }}</span
              >
            </div>

            <div
              class="d-flex flex-row m-t font-size-12 justify-content-between">
              <span>Phase 2 progress</span>
              <span id="phase2_parcels_completed_PERCENT_label">0%</span>
            </div>

            <div class="dashboard-progress m-t-sm">
              <span
                data-fill="white"
                id="phase2_parcels_completed_PERCENT"></span>
              <span
                data-fill="dark"
                id="phase2_parcels_incomplete_PERCENT"></span>
            </div>

            <div class="dashboard-row font-size-12 d-flex">
              <span class="dashboard-stat"
                ><span id="phase2_parcels_completed"></span
              ></span>
              <span
                >{{ 'track_progress_parcels_completed_lowercase' | i18n }}</span
              >
            </div>
            <details class="font-size-12 m-t">
              <summary class="d-flex gap-2 align-items-center">
                <span class="ca-gov-icon-arrow-next" aria-hidden="true"></span>
                <span>{{ 'track_progress_data_notes' | i18n }}</span>
              </summary>
              <div class="p-l-sm">
                <ul>
                  <li>
                    {{
                    'track_progress_detailed_breakdown_of_phase_2_process_and_current_status'
                    | i18n | safe}}
                  </li>
                  <li>
                    {{
                    'track_progress_property_owners_must_submit_opt_in_right_of_entry_forms'
                    | i18n | safe}}
                  </li>
                  <li>
                    {{
                    'track_progress_progress_bar_measures_the_number_of_parcels_that_have_completed_phase_2'
                    | i18n | safe}}
                  </li>
                  <li>
                    {{
                    'track_progress_complete_means_structural_debris_has_been_removed_from_the_property'
                    | i18n | safe}}
                  </li>
                </ul>
              </div>
            </details>
          </div>
          <p class="font-size-12 bg-s1 p-a">
            <em
              >{{ 'track_progress_reported_by_us_army_corps_of_engineers' | i18n
              }}<br /><span id="phase2_parcels_completed_date"></span
            ></em>
          </p>
        </div>
      </div>

      <!--Permits to rebuild-->

      <h2 class="m-b-md">{{ 'track_progress_permits_to_rebuild' | i18n }}</h2>

      <p>{{ 'track_progress_permits_to_rebuild_description' | i18n }}</p>
      <p>
        {{ 'track_progress_permits_to_rebuild_description_2' | i18n | safe }}
      </p>

      <div class="bg-gray-100 p-a-md m-t-md m-b-md d-flex align-items-top">
        <div>
          <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
        </div>
        <p class="color-p2-darker m-b-0">
          {{ 'track_progress_permits_card' | i18n | safe }}
        </p>
      </div>

      <div
        class="alert alert-warning p-a-md m-t-md m-b-md d-flex align-items-top">
        <div>
          <span class="ca-gov-icon-info-line m-r" aria-hidden="true"></span>
        </div>
        <p class="m-b-0 font-size-16">
          All permitting is handled by local governments. Permitting numbers are
          sourced directly from local jurisdictions and they may not be directly
          comparable to each other.
        </p>
      </div>

      <div class="row">
        <!--LA county-->
        <div class="col-lg-6 m-t">
          <div class="d-flex flex-column h-100">
            <div class="bg-primary border-top rounded-top p-a-md  h-100">
              <h3 class="h4 color-white m-t-0 font-weight-400">
                Los Angeles County
              </h3>
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-received.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="county_rebuild_applications_received"></span
                ><span class="color-white font-size-14 font-weight-600">
                  Applications received
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-in-review.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="county_rebuild_applications_in_review"></span
                ><span class="color-white font-size-14 font-weight-600">
                  In review
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-issued.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="county_building_permits_issued"></span
                ><span class="color-white font-size-14 font-weight-600">
                  Permits issued
                </span>
              </div>
            </div>
            <div class="bg-s1 p-x-md p-y border-bottom rounded-bottom mt-auto">
              <p class="font-size-11 m-b-0">
                <em
                  >Reported by LA County
                  <a
                    href="https://recovery.lacounty.gov/rebuilding/permitting-progress-dashboard/"
                    >Permitting Progress Dashboard</a
                  >.</em
                ><br />
                <em><span id="county_building_permits_issued_date"></span></em>
              </p>
            </div>
          </div>
        </div>

        <!--LA city-->
        <div class="col-lg-6 m-t">
          <div class="d-flex flex-column h-100">
            <div class="bg-primary border-top rounded-top p-a-md  h-100">
              <h3 class="h4 color-white m-t-0 font-weight-400">
                City of Los Angeles
              </h3>
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-received.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="la_rebuild_applications_received"
                  >1,128</span
                ><span class="color-white font-size-14 font-weight-600">
                  Applications received
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-in-review.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="la_rebuild_applications_in_review"
                  >628</span
                ><span class="color-white font-size-14 font-weight-600">
                  In review
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-issued.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="la_building_permits_issued"
                  >371</span
                ><span class="color-white font-size-14 font-weight-600">
                  Permits issued
                </span>
              </div>
            </div>
            <div class="bg-s1 p-x-md p-y border-bottom rounded-bottom mt-auto">
              <p class="font-size-11 m-b-0">
                <em>Reported by City of Los Angeles</em><br />
                <em
                  ><span id="la_building_permits_issued_date"
                    >Data as of 8/21/2025</span
                  ></em
                >
              </p>
            </div>
          </div>
        </div>

        <!--Malibu-->
        <div class="col-lg-6 m-t">
          <div class="d-flex flex-column h-100">
            <div class="bg-primary border-top rounded-top p-a-md  h-100">
              <h3 class="h4 color-white m-t-0 font-weight-400">
                City of Malibu
              </h3>
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-received.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="malibu_rebuild_applications_received"></span
                ><span class="color-white font-size-14 font-weight-600">
                  Applications received
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-in-review.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="malibu_rebuild_applications_in_review"></span
                ><span class="color-white font-size-14 font-weight-600">
                  In review
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-issued.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="malibu_building_permits_issued"></span
                ><span class="color-white font-size-14 font-weight-600">
                  Permits issued
                </span>
              </div>
            </div>
            <div class="bg-s1 p-x-md p-y border-bottom rounded-bottom mt-auto">
              <p class="font-size-11 m-b-0">
                <em
                  >Reported by City of Malibu
                  <a href="https://maliburebuilds.org/rebuild-dashboard/"
                    >Permitting Progress Dashboard</a
                  >.</em
                ><br />
                <em><span id="malibu_building_permits_issued_date"></span></em>
              </p>
            </div>
          </div>
        </div>

        <!--Pasadena-->
        <div class="col-lg-6 m-t">
          <div class="d-flex flex-column h-100">
            <div class="bg-primary border-top rounded-top p-a-md  h-100">
              <h3 class="h4 color-white m-t-0 font-weight-400">
                City of Pasadena
              </h3>
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-received.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="pasadena_rebuild_applications_received"></span
                ><span class="color-white font-size-14 font-weight-600">
                  Applications received
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-in-review.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="pasadena_rebuild_applications_in_review"></span
                ><span class="color-white font-size-14 font-weight-600">
                  In review
                </span>
              </div>
              <hr class="m-y-md brd-s1" />
              <div class="d-flex align-items-center">
                <img
                  src="/lafires/images/icon-permits-issued.svg"
                  aria-hidden="true"
                  alt=""
                  class="height-40 m-r" />
                <span
                  class="h2 color-white m-y-0 font-weight-400 m-r"
                  id="pasadena_building_permits_issued"></span
                ><span class="color-white font-size-14 font-weight-600">
                  Permits issued
                </span>
              </div>
            </div>
            <div class="bg-s1 p-x-md p-y border-bottom rounded-bottom mt-auto">
              <p class="font-size-11 m-b-0">
                <em
                  >Reported by City of Pasadena
                  <a
                    href="https://experience.arcgis.com/experience/d4c4617a88204a869a37404d1496cfbd/page/Pasadena-Rebuilds"
                    >Permitting Progress Dashboard</a
                  >.</em
                ><br />
                <em
                  ><span id="pasadena_building_permits_issued_date"></span
                ></em>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--Water restored-->
      <div class="row m-b-lg">
        <h2 class="m-b-md m-t-lg">
          {{ 'track_progress_water_restored' | i18n }}
        </h2>
        <p>
          {{ 'track_progress_california_state_water_resources_control_board' |
          i18n }}
        </p>
        <div class="col-lg-6 m-t-md">
          <div
            id="card-water-systems-status"
            class="dashboard-card rounded h-100 d-flex flex-column">
            <h3
              class="dashboard-card-heading font-size-20 line-height-1-2em m-0 p-x-md p-t-md p-b-sm bg-primary d-flex align-items-center">
              <img
                src="/lafires/images/dashboard-droplet.svg"
                width="48"
                height="48"
                aria-hidden="true" />
              <span class="m-l-sm"
                >{{ 'track_progress_water_systems_status' | i18n }}</span
              >
            </h3>

            <div
              class="bg-primary h-100 p-x-md p-b-md p-t-sm dashboard-water-container">
              <div
                class="d-flex flex-row m-t font-size-12 justify-content-between">
                <div class="d-flex align-items-center gap-2">
                  <img
                    src="/lafires/images/dashboard-opt-in.svg"
                    width="23"
                    height="23"
                    aria-hidden="true" />
                  <span>{{ 'track_progress_water_complete' | i18n }}</span>
                </div>
                <span>100%</span>
              </div>

              <div class="dashboard-progress m-t-sm">
                <span data-fill="white" style="width: 100%"></span>
                <!-- <span data-fill="dark" style="width: 0%"></span> -->
              </div>

              <div class="d-flex flex-wrap w-auto dashboard-water">
                <div
                  class="m-0 p-t-sm font-size-12 d-flex flex-row align-items-center gap-2">
                  <span class="dashboard-stat"><span>9 of 9</span></span>
                  <span
                    >{{ 'track_progress_systems_safe_to_drink' | i18n }}</span
                  >
                </div>
              </div>
            </div>

            <p class="font-size-12 bg-s1 p-a">
              <em
                >{{
                'track_progress_reported_by_state_water_resources_control_board'
                | i18n }}<br /><span id="water_safe_to_drink_date"></span
              ></em>
            </p>
          </div>
        </div>
      </div>

      <!--Air quality monitoring-->

      <h2 class="m-b-md">{{ 'track_progress_air_quality' | i18n }}</h2>
      <p>
        {{ 'track_progress_south_coast_air_quality_management_district' | i18n
        }}
      </p>
      <div class="section-primary p-x-md rounded-top m-t-md">
        <h3
          class="font-size-20 m-0 p-t-md d-flex align-items-center font-weight-400">
          <span class="ca-gov-icon-air font-size-40" aria-hidden="true"></span
          ><span class="m-l-sm">{{ 'track_progress_air_header' | i18n }}</span>
        </h3>
        <p class="font-size-14">
          {{ 'track_progress_air_description' | i18n | safe }}
        </p>

        <div class="row">
          <div class="col-md-6">
            <div
              class="m-0 p-t-sm font-size-12 d-flex flex-row align-items-center gap-2 p-r">
              <span class="dashboard-stat p-r"
                ><span id="air_mobile_survey_complete2"></span
              ></span>
              <span class="font-weight-700"
                >{{
                'track_progress_four_mobile_surveys_two_in_each_burn_area_were_conducted'
                | i18n }}</span
              >
            </div>

            <p class="font-size-12 m-t-sm">
              {{
              'track_progress_overall_survey_results_from_eaton_and_palisades_areas_were_within_background_levels'
              | i18n }}
            </p>
          </div>

          <div class="col-md-6">
            <div
              class="m-0 p-t-sm font-size-12 d-flex flex-row align-items-center gap-2 p-r">
              <span class="dashboard-stat p-r"
                ><span id="air_stationary_deployed2"></span
              ></span>
              <span class="font-weight-700"
                >{{
                'track_progress_stationary_air_quality_monitoring_sites_deployed'
                | i18n }}</span
              >
            </div>
            <p class="font-size-12 m-t-sm">
              {{ 'track_progress_stationary_air_quality_monitoring_description'
              | i18n }}
            </p>
          </div>
        </div>

        <hr class="opacity-100" />

        <div
          class="m-0 p-t-sm font-size-12 d-flex flex-row align-items-center gap-2 p-r">
          <span class="dashboard-stat p-r"><span>219</span></span>
          <span class="font-weight-700"
            >{{ 'track_progress_air_asbestos_collected' | i18n }}</span
          >
        </div>
        <p class="font-size-12 m-t-sm m-b-md">
          {{ 'track_progress_air_asbestos_collected_description' | i18n }}
        </p>
        <hr class="opacity-100" />

        <div class="row">
          <div class="col-md-6">
            <div
              class="m-0 p-t-sm font-size-12 d-flex flex-row align-items-center gap-2 p-r">
              <span class="dashboard-stat p-r"><span>215</span></span>
              <span class="font-weight-700">
                {{ 'track_progress_air_toxic_metal_collected' | i18n }}</span
              >
            </div>
          </div>

          <div class="col-md-6">
            <div
              class="m-0 p-t-sm font-size-12 d-flex flex-row align-items-center gap-2 p-r">
              <span class="dashboard-stat p-r"><span>33</span></span>
              <span class="font-weight-700"
                >{{ 'track_progress_air_toxic_metal_analyzed' | i18n }}</span
              >
            </div>
          </div>
        </div>
        <hr class="opacity-100" />
        <div
          class="m-0 p-t-sm p-b-md font-size-12 d-flex flex-row align-items-center gap-2 p-r">
          <span class="dashboard-stat p-r"><span>28,588</span></span>
          <span class="font-weight-700"
            >{{ 'track_progress_air_matter' | i18n }}</span
          >
        </div>
      </div>
      <p class="font-size-12 bg-s1 p-a rounded-bottom">
        <em
          >{{
          'track_progress_reported_by_south_coast_air_quality_management_district'
          | i18n }}</em
        ><br /><!--<span id="air_mobile_survey_complete_date3"></span>-->
        Data as of 8/14/2025 at 4:30 PM
      </p>

      <!--END Air quality monitoring-->

      <p class="m-t-md">
        {{ 'track_progress_all_results_from_the_stationary_sites_are_available'
        | i18n | safe }}
      </p>
      <!--END MAIN COL CONTENT-->
    </div>
  </div>

  {%- set js -%}{%- include "./track-progress.mjs" -%}{%- endset -%}
  <script type="module">
    {{- js | jsmin | safe }}
  </script>
</div>
