<div
  class="section-understated lineart bg-s1"
  style="background: url('/lafires/images/volunteer-lineart.svg?v3vdseg') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="col-lg-9">
      {%- include "breadcrumbs.html" -%}
      <h1 class="m-t-0 m-b-0 color-p2-darker line-height-1em">
        {{title}}<br />
        <span class="subtitle color-p2-darker bold m-b-md"
          >{{ 'title_2025_los_angeles_fires' | i18n }}</span
        >
      </h1>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3">{%-include "dynamic-sidenav.html"-%}</div>

    <!--MAIN CONTENT-->
    <div class="col-lg-9 pt-lg-3">
      <p class="m-b-md lead">{{description}}</p>

      <div class="row">
        <div class="col-lg-6 m-t-md">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.californiavolunteers.ca.gov/wildfire-recovery/"
                class="color-p2 text-left d-block"
                >{{ 'vol_aid_in_wildfire_recovery' | i18n }}
              </a>
            </h3>

            <p class="m-b text-left">
              {{ 'vol_find_ways_to_get_involved' | i18n }}
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t-md">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.philanthropyca.org/2025-california-disaster-response"
                class="color-p2 text-left d-block"
                >{{ 'vol_help_animals' | i18n }}
              </a>
            </h3>

            <p class="m-b text-left">
              {{ 'vol_foster_or_adopt_a_pet' | i18n }}
            </p>
          </div>
        </div>

        <div class="col-lg-6 m-t-md">
          <div
            class="bg-white text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 rounded">
            <h3 class="h5 m-t-md m-b">
              <a
                href="https://www.cdfa.ca.gov/AHFSS/Animal_Health/eprs/cares/animal_shelter.html"
                class="color-p2 text-left d-block"
                >{{ 'vol_give_for_animals' | i18n }}</a
              >
            </h3>

            <p class="m-b text-left">
              {{ 'vol_donate_money_to_support_emergency_services_animals_need' |
              i18n }}
            </p>
          </div>
        </div>

        <!--END MAIN COL CONTENT-->
      </div>
    </div>
    <!--END MAIN COL CONTENT-->
  </div>
</div>
